In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('input_data/subway_use/2015.csv', encoding='utf-8', index_col =False, sep='\t')
df2 = pd.read_csv('input_data/subway_use/2016.csv', encoding='utf-8', index_col =False, sep='\t')
df3 = pd.read_csv('input_data/subway_use/2017.csv', encoding='utf-8', index_col =False, sep='\t')

In [3]:
df1.columns

Index(['날짜', '역번호', '역명', '구분', '05~06', '06~07', '07~08', '08~09', '09~10',
       '10~11', '11~12', '12~13', '13~14', '14~15', '15~16', '16~17', '17~18',
       '18~19', '19~20', '20~21', '21~22', '22~23', '23~24', '24~'],
      dtype='object')

In [4]:
df2.columns

Index(['날짜', '역번호', '역명', '구분', '05~06', '06~07', '07~08', '08~09', '09~10',
       '10~11', '11~12', '12~13', '13~14', '14~15', '15~16', '16~17', '17~18',
       '18~19', '19~20', '20~21', '21~22', '22~23', '23~24', '24~'],
      dtype='object')

In [5]:
df3.columns

Index(['날짜', '역번호', '역명', '구분', '05~06', '06~07', '07~08', '08~09', '09~10',
       '10~11', '11~12', '12~13', '13~14', '14~15', '15~16', '16~17', '17~18',
       '18~19', '19~20', '20~21', '21~22', '22~23', '23~24', '24~'],
      dtype='object')

In [6]:
df = pd.concat([df1, df2, df3])

In [7]:
df

,날짜,역번호,역명,구분,05~06,06~07,07~08,08~09,09~10,10~11,...,15~16,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24,24~
0,2015.1.1,150,서울역(150),승차,441,399,572,1106,1474,2020,...,4036,4030,3666,3738,3091,2749,3247,2437,1279,73
1,2015.1.1,151,시청(151),승차,101,95,104,127,233,308,...,1038,1027,1176,1133,850,950,612,497,192,6
2,2015.1.1,152,종각(152),승차,898,482,281,291,328,449,...,1530,2012,2176,2047,1767,1834,1825,1666,736,37
3,2015.1.1,153,종로3가(153),승차,371,212,155,189,347,491,...,1537,1791,1954,1526,1297,1149,1257,953,415,15
4,2015.1.1,154,종로5가(154),승차,57,101,83,128,209,323,...,915,984,948,962,722,576,431,241,102,3
5,2015.1.1,155,동대문(155),승차,130,176,171,265,440,483,...,837,913,804,637,420,394,284,206,156,0
6,2015.1.1,156,신설동(156),승차,95,136,160,250,345,490,...,504,575,518,489,308,243,206,145,62,1
7,2015.1.1,157,제기동(157),승차,102,198,138,189,272,391,...,1084,1018,835,435,236,158,234,80,37,2
8,2015.1.1,158,청량리(지하)(158),승차,273,243,314,469,719,822,...,1578,1725,1545,1096,893,932,751,600,179,2
9,2015.1.1,159,동묘앞(159),승차,48,56,57,89,167,198,...,746,670,585,276,192,98,154,85,49,0
10,2015.1.1,201,시청(201),승차,39,51,95,104,129,239,...,663,880,889,860,632,564,539,395,152,0
11,2015.1.1,202,을지로입구(202),승차,149,123,117,197,361,550,...,1544,1958,2079,2456,2063,1997,2274,1911,904,0
12,2015.1.1,203,을지로3가(203),승차,30,94,53,112,167,475,...,433,424,450,371,329,282,195,237,92,0
13,2015.1.1,204,을지로4가(204),승차,30,32,57,84,173,279,...,265,273,284,206,175,162,156,133,54,0
14,2015.1.1,205,동대문역사문화공원(205),승차,125,93,120,164,285,349,...,839,964,1006,980,909,863,820,600,350,0
15,2015.1.1,206,신당(206),승차,115,166,137,290,328,384,...,533,541,500,411,359,236,253,170,76,0
16,2015.1.1,207,상왕십리(207),승차,74,127,152,210,262,293,...,302,292,257,234,158,155,166,112,49,0
17,2015.1.1,208,왕십리(성동구청)(208),승차,218,250,214,311,386,452,...,694,732,768,772,617,596,659,627,448,6
18,2015.1.1,209,한양대(209),승차,38,62,45,58,85,91,...,186,209,295,240,163,151,175,264,76,0
19,2015.1.1,210,뚝섬(210),승차,95,197,136,272,289,317,...,389,365,364,333,256,221,164,120,53,0
20,2015.1.1,211,성수(211),승차,125,193,182,272,329,358,...,396,419,467,435,313,311,277,245,117,1
21,2015.1.1,212,건대입구(212),승차,1595,1256,903,991,1034,962,...,1624,1759,1888,1953,1694,1913,2075,2280,1254,0
22,2015.1.1,213,구의(213),승차,226,256,399,524,659,608,...,654,726,674,575,411,407,410,287,150,0
23,2015.1.1,214,강변(214),승차,356,358,427,702,1235,1689,...,2509,2570,2480,2244,2377,1997,1987,1312,430,0
24,2015.1.1,215,잠실나루(215),승차,67,120,163,268,308,342,...,534,499,536,412,307,276,221,168,71,0
25,2015.1.1,216,잠실(216),승차,1174,608,610,910,1129,1264,...,3511,3862,3980,4295,3431,2795,3392,2453,906,0
26,2015.1.1,217,신천(217),승차,640,527,376,485,532,630,...,831,828,850,739,750,763,794,705,315,0
27,2015.1.1,218,종합운동장(218),승차,123,184,115,154,285,234,...,398,386,433,1960,286,175,142,114,43,0
28,2015.1.1,219,삼성(219),승차,295,299,237,317,422,419,...,2187,2777,3333,3217,2617,2402,2548,2005,406,0
29,2015.1.1,220,선릉(220),승차,253,364,289,371,445,456,...,805,903,1132,1018,688,701,837,1014,334,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150124,2017.9.30,2813,강동구청,승차,120,239,397,561,601,519,...,547,596,603,499,299,195,154,116,56,14
150125,2017.9.30,2813,강동구청,하차,27,149,211,311,321,297,...,469,514,589,555,497,383,494,516,288,148
150126,2017.9.30,2814,몽촌토성,승차,67,90,165,273,254,287,...,657,781,986,772,453,237,223,200,80,0
150127,2017.9.30,2814,몽촌토성,하차,32,163,189,256,367,427,...,618,522,458,354,205,216,229,264,111,17
150128,2017.9.30,2815,잠실(8),승차,73,92,131,179,238,269,...,942,1177,1160,1311,1182,1150,1142,905,344,1
150129,2017.9.30,2815,잠실(8),하차,27,195,343,785,954,902,...,1319,1505,1104,1023,562,397,300,213,129,44
150130,2017.9.30,2816,석촌,승차,146,150,290,421,492,410,...,462,557,467,412,286,232,257,149,87,1
150131,2017.9.30,2816,석촌,하차,25,168,189,360,383,379,...,412,465,520,462,382,310,336,316,230,25
150132,2017.9.30,2817,송파,승차,71,114,145,265,280,209,...,407,374,357,274,162,151,96,87,45,0
150133,2017.9.30,2817,송파,하차,65,388,141,224,231,177,...,271,238,259,248,229,139,196,151,114,12
150134,2017.9.30,2818,가락시장(8),승차,84,129,190,279,366,449,...,479,474,446,399,322,273,295,252,160,1
150135,2017.9.30,2818,가락시장(8),하차,97,228,255,483,513,445,...,463,470,541,460,379,239,258,193,165,152
150136,2017.9.30,2819,문정,승차,52,134,226,331,493,346,...,540,697,788,522,249,218,208,233,85,1
150137,2017.9.30,2819,문정,하차,74,637,433,397,420,340,...,286,339,361,438,412,243,286,302,168,0
150138,2017.9.30,2820,장지,승차,147,326,422,761,813,704,...,976,1131,1177,1236,909,671,675,828,175,0
150139,2017.9.30,2820,장지,하차,46,239,384,772,866,635,...,854,1028,912,1116,730,548,563,781,501,1
150140,2017.9.30,2821,복정(8),승차,108,211,338,583,570,505,...,552,710,747,498,408,237,217,148,74,1
150141,2017.9.30,2821,복정(8),하차,86,422,290,298,300,256,...,341,361,423,439,427,335,418,461,331,83
150142,2017.9.30,2822,산성,승차,193,219,337,478,478,326,...,384,407,366,246,200,120,82,53,37,1
150143,2017.9.30,2822,산성,하차,24,80,95,183,304,288,...,276,361,382,417,348,305,358,438,238,53
150144,2017.9.30,2823,남한산성입구,승차,309,511,792,1066,1111,838,...,727,728,696,504,299,187,138,115,55,2
150145,2017.9.30,2823,남한산성입구,하차,35,160,225,310,332,428,...,491,569,713,783,712,687,720,957,646,118
150146,2017.9.30,2824,단대오거리,승차,284,432,597,886,765,680,...,694,654,640,515,344,215,186,155,74,3
150147,2017.9.30,2824,단대오거리,하차,55,128,187,274,288,278,...,469,556,611,803,727,580,671,801,606,97
150148,2017.9.30,2825,신흥,승차,109,190,220,350,329,224,...,354,439,365,298,217,158,157,102,39,0
150149,2017.9.30,2825,신흥,하차,24,69,72,150,166,170,...,401,349,456,401,374,269,322,265,203,40
150150,2017.9.30,2826,수진,승차,110,137,248,393,333,268,...,312,358,350,290,173,133,91,73,38,1
150151,2017.9.30,2826,수진,하차,20,111,59,133,166,186,...,278,280,290,315,277,190,266,212,184,38
150152,2017.9.30,2827,모란(8),승차,74,91,106,185,197,210,...,293,278,330,260,189,119,123,113,55,0
150153,2017.9.30,2827,모란(8),하차,16,90,95,143,175,177,...,232,257,224,305,182,155,160,151,112,19

In [119]:
#df.to_csv("df_all.csv", encoding="cp949")

In [8]:
df.loc[df["구분"]=="하차", "구분"] = 1
df.loc[df["구분"]=="승차", "구분"] = 0

In [9]:
df

,날짜,역번호,역명,구분,05~06,06~07,07~08,08~09,09~10,10~11,...,15~16,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24,24~
0,2015.1.1,150,서울역(150),0,441,399,572,1106,1474,2020,...,4036,4030,3666,3738,3091,2749,3247,2437,1279,73
1,2015.1.1,151,시청(151),0,101,95,104,127,233,308,...,1038,1027,1176,1133,850,950,612,497,192,6
2,2015.1.1,152,종각(152),0,898,482,281,291,328,449,...,1530,2012,2176,2047,1767,1834,1825,1666,736,37
3,2015.1.1,153,종로3가(153),0,371,212,155,189,347,491,...,1537,1791,1954,1526,1297,1149,1257,953,415,15
4,2015.1.1,154,종로5가(154),0,57,101,83,128,209,323,...,915,984,948,962,722,576,431,241,102,3
5,2015.1.1,155,동대문(155),0,130,176,171,265,440,483,...,837,913,804,637,420,394,284,206,156,0
6,2015.1.1,156,신설동(156),0,95,136,160,250,345,490,...,504,575,518,489,308,243,206,145,62,1
7,2015.1.1,157,제기동(157),0,102,198,138,189,272,391,...,1084,1018,835,435,236,158,234,80,37,2
8,2015.1.1,158,청량리(지하)(158),0,273,243,314,469,719,822,...,1578,1725,1545,1096,893,932,751,600,179,2
9,2015.1.1,159,동묘앞(159),0,48,56,57,89,167,198,...,746,670,585,276,192,98,154,85,49,0
10,2015.1.1,201,시청(201),0,39,51,95,104,129,239,...,663,880,889,860,632,564,539,395,152,0
11,2015.1.1,202,을지로입구(202),0,149,123,117,197,361,550,...,1544,1958,2079,2456,2063,1997,2274,1911,904,0
12,2015.1.1,203,을지로3가(203),0,30,94,53,112,167,475,...,433,424,450,371,329,282,195,237,92,0
13,2015.1.1,204,을지로4가(204),0,30,32,57,84,173,279,...,265,273,284,206,175,162,156,133,54,0
14,2015.1.1,205,동대문역사문화공원(205),0,125,93,120,164,285,349,...,839,964,1006,980,909,863,820,600,350,0
15,2015.1.1,206,신당(206),0,115,166,137,290,328,384,...,533,541,500,411,359,236,253,170,76,0
16,2015.1.1,207,상왕십리(207),0,74,127,152,210,262,293,...,302,292,257,234,158,155,166,112,49,0
17,2015.1.1,208,왕십리(성동구청)(208),0,218,250,214,311,386,452,...,694,732,768,772,617,596,659,627,448,6
18,2015.1.1,209,한양대(209),0,38,62,45,58,85,91,...,186,209,295,240,163,151,175,264,76,0
19,2015.1.1,210,뚝섬(210),0,95,197,136,272,289,317,...,389,365,364,333,256,221,164,120,53,0
20,2015.1.1,211,성수(211),0,125,193,182,272,329,358,...,396,419,467,435,313,311,277,245,117,1
21,2015.1.1,212,건대입구(212),0,1595,1256,903,991,1034,962,...,1624,1759,1888,1953,1694,1913,2075,2280,1254,0
22,2015.1.1,213,구의(213),0,226,256,399,524,659,608,...,654,726,674,575,411,407,410,287,150,0
23,2015.1.1,214,강변(214),0,356,358,427,702,1235,1689,...,2509,2570,2480,2244,2377,1997,1987,1312,430,0
24,2015.1.1,215,잠실나루(215),0,67,120,163,268,308,342,...,534,499,536,412,307,276,221,168,71,0
25,2015.1.1,216,잠실(216),0,1174,608,610,910,1129,1264,...,3511,3862,3980,4295,3431,2795,3392,2453,906,0
26,2015.1.1,217,신천(217),0,640,527,376,485,532,630,...,831,828,850,739,750,763,794,705,315,0
27,2015.1.1,218,종합운동장(218),0,123,184,115,154,285,234,...,398,386,433,1960,286,175,142,114,43,0
28,2015.1.1,219,삼성(219),0,295,299,237,317,422,419,...,2187,2777,3333,3217,2617,2402,2548,2005,406,0
29,2015.1.1,220,선릉(220),0,253,364,289,371,445,456,...,805,903,1132,1018,688,701,837,1014,334,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150124,2017.9.30,2813,강동구청,0,120,239,397,561,601,519,...,547,596,603,499,299,195,154,116,56,14
150125,2017.9.30,2813,강동구청,1,27,149,211,311,321,297,...,469,514,589,555,497,383,494,516,288,148
150126,2017.9.30,2814,몽촌토성,0,67,90,165,273,254,287,...,657,781,986,772,453,237,223,200,80,0
150127,2017.9.30,2814,몽촌토성,1,32,163,189,256,367,427,...,618,522,458,354,205,216,229,264,111,17
150128,2017.9.30,2815,잠실(8),0,73,92,131,179,238,269,...,942,1177,1160,1311,1182,1150,1142,905,344,1
150129,2017.9.30,2815,잠실(8),1,27,195,343,785,954,902,...,1319,1505,1104,1023,562,397,300,213,129,44
150130,2017.9.30,2816,석촌,0,146,150,290,421,492,410,...,462,557,467,412,286,232,257,149,87,1
150131,2017.9.30,2816,석촌,1,25,168,189,360,383,379,...,412,465,520,462,382,310,336,316,230,25
150132,2017.9.30,2817,송파,0,71,114,145,265,280,209,...,407,374,357,274,162,151,96,87,45,0
150133,2017.9.30,2817,송파,1,65,388,141,224,231,177,...,271,238,259,248,229,139,196,151,114,12
150134,2017.9.30,2818,가락시장(8),0,84,129,190,279,366,449,...,479,474,446,399,322,273,295,252,160,1
150135,2017.9.30,2818,가락시장(8),1,97,228,255,483,513,445,...,463,470,541,460,379,239,258,193,165,152
150136,2017.9.30,2819,문정,0,52,134,226,331,493,346,...,540,697,788,522,249,218,208,233,85,1
150137,2017.9.30,2819,문정,1,74,637,433,397,420,340,...,286,339,361,438,412,243,286,302,168,0
150138,2017.9.30,2820,장지,0,147,326,422,761,813,704,...,976,1131,1177,1236,909,671,675,828,175,0
150139,2017.9.30,2820,장지,1,46,239,384,772,866,635,...,854,1028,912,1116,730,548,563,781,501,1
150140,2017.9.30,2821,복정(8),0,108,211,338,583,570,505,...,552,710,747,498,408,237,217,148,74,1
150141,2017.9.30,2821,복정(8),1,86,422,290,298,300,256,...,341,361,423,439,427,335,418,461,331,83
150142,2017.9.30,2822,산성,0,193,219,337,478,478,326,...,384,407,366,246,200,120,82,53,37,1
150143,2017.9.30,2822,산성,1,24,80,95,183,304,288,...,276,361,382,417,348,305,358,438,238,53
150144,2017.9.30,2823,남한산성입구,0,309,511,792,1066,1111,838,...,727,728,696,504,299,187,138,115,55,2
150145,2017.9.30,2823,남한산성입구,1,35,160,225,310,332,428,...,491,569,713,783,712,687,720,957,646,118
150146,2017.9.30,2824,단대오거리,0,284,432,597,886,765,680,...,694,654,640,515,344,215,186,155,74,3
150147,2017.9.30,2824,단대오거리,1,55,128,187,274,288,278,...,469,556,611,803,727,580,671,801,606,97
150148,2017.9.30,2825,신흥,0,109,190,220,350,329,224,...,354,439,365,298,217,158,157,102,39,0
150149,2017.9.30,2825,신흥,1,24,69,72,150,166,170,...,401,349,456,401,374,269,322,265,203,40
150150,2017.9.30,2826,수진,0,110,137,248,393,333,268,...,312,358,350,290,173,133,91,73,38,1
150151,2017.9.30,2826,수진,1,20,111,59,133,166,186,...,278,280,290,315,277,190,266,212,184,38
150152,2017.9.30,2827,모란(8),0,74,91,106,185,197,210,...,293,278,330,260,189,119,123,113,55,0
150153,2017.9.30,2827,모란(8),1,16,90,95,143,175,177,...,232,257,224,305,182,155,160,151,112,19

In [10]:
#df.to_csv('raw_data/subway_use/df_all.csv', encoding='utf-8', index=False)

In [11]:
df_station_info = pd.read_csv('input_data/subway_use/subway_station_info.csv', encoding='utf-8', index_col =False, sep='\t')

In [12]:
df_station_info[["id", "sigungu"]]

       id sigungu
0     340     송파구
1    2818     송파구
2    2748     금천구
3     222     강남구
4    2732     강남구
5    2549     강동구
6    2813     강동구
7     214     광진구
8    2559     송파구
9    2512     강서구
10   2560     송파구
11    212     광진구
12   2729     광진구
13    317     종로구
14    341     송파구
15   2553     강동구
16   2641     성북구
17    329     서초구
18   2736     서초구
19   2530     마포구
20   2627     마포구
21   2718     노원구
22   2547     광진구
23   2750     광명시
24   2534     종로구
25   2625     마포구
26    223     서초구
27    330     서초구
28    232     구로구
29   2616     은평구
..    ...     ...
247  2548     강동구
248  2812     강동구
249  2749     광명시
250  2538      중구
251  2635      중구
252  2731     강남구
253   158    동대문구
254   432     동작구
255  2755     부천시
256   423      중구
257   243    서대문구
258  2532    서대문구
259  2646     노원구
260  2719     노원구
261  2717     노원구
262  2733     강남구
263   336     강남구
264  2632     용산구
265   419     성북구
266   209     성동구
267   238     마포구
268  2623     마포구
269  2540     성동구
270   420     종로구
271   239     마포구
272   314    서대문구
273  2518     강서구
274  2647     노원구
275   425      중구
276  2628     용산구

[277 rows x 2 columns]

In [13]:
df_station_info.columns

Index(['id', 'name', 'nation', 'sido', 'sigungu', 'sigungu2', 'X좌표(WGS)',
       'Y좌표(WGS)'],
      dtype='object')

In [14]:
df_merged = pd.merge(df, df_station_info[["id", "sigungu"]], how='left', left_on=['역번호'], right_on=['id'])

In [15]:
df_merged

,날짜,역번호,역명,구분,05~06,06~07,07~08,08~09,09~10,10~11,...,17~18,18~19,19~20,20~21,21~22,22~23,23~24,24~,id,sigungu
0,2015.1.1,150,서울역(150),0,441,399,572,1106,1474,2020,...,3666,3738,3091,2749,3247,2437,1279,73,150,용산구
1,2015.1.1,151,시청(151),0,101,95,104,127,233,308,...,1176,1133,850,950,612,497,192,6,151,중구
2,2015.1.1,152,종각(152),0,898,482,281,291,328,449,...,2176,2047,1767,1834,1825,1666,736,37,152,종로구
3,2015.1.1,153,종로3가(153),0,371,212,155,189,347,491,...,1954,1526,1297,1149,1257,953,415,15,153,종로구
4,2015.1.1,154,종로5가(154),0,57,101,83,128,209,323,...,948,962,722,576,431,241,102,3,154,종로구
5,2015.1.1,155,동대문(155),0,130,176,171,265,440,483,...,804,637,420,394,284,206,156,0,155,종로구
6,2015.1.1,156,신설동(156),0,95,136,160,250,345,490,...,518,489,308,243,206,145,62,1,156,동대문구
7,2015.1.1,157,제기동(157),0,102,198,138,189,272,391,...,835,435,236,158,234,80,37,2,157,동대문구
8,2015.1.1,158,청량리(지하)(158),0,273,243,314,469,719,822,...,1545,1096,893,932,751,600,179,2,158,동대문구
9,2015.1.1,159,동묘앞(159),0,48,56,57,89,167,198,...,585,276,192,98,154,85,49,0,159,종로구
10,2015.1.1,201,시청(201),0,39,51,95,104,129,239,...,889,860,632,564,539,395,152,0,201,중구
11,2015.1.1,202,을지로입구(202),0,149,123,117,197,361,550,...,2079,2456,2063,1997,2274,1911,904,0,202,중구
12,2015.1.1,203,을지로3가(203),0,30,94,53,112,167,475,...,450,371,329,282,195,237,92,0,203,을지로3가
13,2015.1.1,204,을지로4가(204),0,30,32,57,84,173,279,...,284,206,175,162,156,133,54,0,204,중구
14,2015.1.1,205,동대문역사문화공원(205),0,125,93,120,164,285,349,...,1006,980,909,863,820,600,350,0,205,중구
15,2015.1.1,206,신당(206),0,115,166,137,290,328,384,...,500,411,359,236,253,170,76,0,206,중구
16,2015.1.1,207,상왕십리(207),0,74,127,152,210,262,293,...,257,234,158,155,166,112,49,0,207,성동구
17,2015.1.1,208,왕십리(성동구청)(208),0,218,250,214,311,386,452,...,768,772,617,596,659,627,448,6,208,성동구
18,2015.1.1,209,한양대(209),0,38,62,45,58,85,91,...,295,240,163,151,175,264,76,0,209,성동구
19,2015.1.1,210,뚝섬(210),0,95,197,136,272,289,317,...,364,333,256,221,164,120,53,0,210,성동구
20,2015.1.1,211,성수(211),0,125,193,182,272,329,358,...,467,435,313,311,277,245,117,1,211,성동구
21,2015.1.1,212,건대입구(212),0,1595,1256,903,991,1034,962,...,1888,1953,1694,1913,2075,2280,1254,0,212,광진구
22,2015.1.1,213,구의(213),0,226,256,399,524,659,608,...,674,575,411,407,410,287,150,0,213,광진구
23,2015.1.1,214,강변(214),0,356,358,427,702,1235,1689,...,2480,2244,2377,1997,1987,1312,430,0,214,광진구
24,2015.1.1,215,잠실나루(215),0,67,120,163,268,308,342,...,536,412,307,276,221,168,71,0,215,송파구
25,2015.1.1,216,잠실(216),0,1174,608,610,910,1129,1264,...,3980,4295,3431,2795,3392,2453,906,0,216,송파구
26,2015.1.1,217,신천(217),0,640,527,376,485,532,630,...,850,739,750,763,794,705,315,0,217,송파구
27,2015.1.1,217,신천(217),0,640,527,376,485,532,630,...,850,739,750,763,794,705,315,0,217,송파구
28,2015.1.1,218,종합운동장(218),0,123,184,115,154,285,234,...,433,1960,286,175,142,114,43,0,218,송파구
29,2015.1.1,219,삼성(219),0,295,299,237,317,422,419,...,3333,3217,2617,2402,2548,2005,406,0,219,강남구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554182,2017.9.30,2813,강동구청,0,120,239,397,561,601,519,...,603,499,299,195,154,116,56,14,2813,강동구
554183,2017.9.30,2813,강동구청,1,27,149,211,311,321,297,...,589,555,497,383,494,516,288,148,2813,강동구
554184,2017.9.30,2814,몽촌토성,0,67,90,165,273,254,287,...,986,772,453,237,223,200,80,0,2814,송파구
554185,2017.9.30,2814,몽촌토성,1,32,163,189,256,367,427,...,458,354,205,216,229,264,111,17,2814,송파구
554186,2017.9.30,2815,잠실(8),0,73,92,131,179,238,269,...,1160,1311,1182,1150,1142,905,344,1,2815,송파구
554187,2017.9.30,2815,잠실(8),1,27,195,343,785,954,902,...,1104,1023,562,397,300,213,129,44,2815,송파구
554188,2017.9.30,2816,석촌,0,146,150,290,421,492,410,...,467,412,286,232,257,149,87,1,2816,송파구
554189,2017.9.30,2816,석촌,1,25,168,189,360,383,379,...,520,462,382,310,336,316,230,25,2816,송파구
554190,2017.9.30,2817,송파,0,71,114,145,265,280,209,...,357,274,162,151,96,87,45,0,2817,송파구
554191,2017.9.30,2817,송파,1,65,388,141,224,231,177,...,259,248,229,139,196,151,114,12,2817,송파구
554192,2017.9.30,2818,가락시장(8),0,84,129,190,279,366,449,...,446,399,322,273,295,252,160,1,2818,송파구
554193,2017.9.30,2818,가락시장(8),1,97,228,255,483,513,445,...,541,460,379,239,258,193,165,152,2818,송파구
554194,2017.9.30,2819,문정,0,52,134,226,331,493,346,...,788,522,249,218,208,233,85,1,2819,송파구
554195,2017.9.30,2819,문정,1,74,637,433,397,420,340,...,361,438,412,243,286,302,168,0,2819,송파구
554196,2017.9.30,2820,장지,0,147,326,422,761,813,704,...,1177,1236,909,671,675,828,175,0,2820,송파구
554197,2017.9.30,2820,장지,1,46,239,384,772,866,635,...,912,1116,730,548,563,781,501,1,2820,송파구
554198,2017.9.30,2821,복정(8),0,108,211,338,583,570,505,...,747,498,408,237,217,148,74,1,2821,송파구
554199,2017.9.30,2821,복정(8),1,86,422,290,298,300,256,...,423,439,427,335,418,461,331,83,2821,송파구
554200,2017.9.30,2822,산성,0,193,219,337,478,478,326,...,366,246,200,120,82,53,37,1,2822,성남시
554201,2017.9.30,2822,산성,1,24,80,95,183,304,288,...,382,417,348,305,358,438,238,53,2822,성남시
554202,2017.9.30,2823,남한산성입구,0,309,511,792,1066,1111,838,...,696,504,299,187,138,115,55,2,2823,성남시
554203,2017.9.30,2823,남한산성입구,1,35,160,225,310,332,428,...,713,783,712,687,720,957,646,118,2823,성남시
554204,2017.9.30,2824,단대오거리,0,284,432,597,886,765,680,...,640,515,344,215,186,155,74,3,2824,성남시
554205,2017.9.30,2824,단대오거리,1,55,128,187,274,288,278,...,611,803,727,580,671,801,606,97,2824,성남시
554206,2017.9.30,2825,신흥,0,109,190,220,350,329,224,...,365,298,217,158,157,102,39,0,2825,성남시
554207,2017.9.30,2825,신흥,1,24,69,72,150,166,170,...,456,401,374,269,322,265,203,40,2825,성남시
554208,2017.9.30,2826,수진,0,110,137,248,393,333,268,...,350,290,173,133,91,73,38,1,2826,성남시
554209,2017.9.30,2826,수진,1,20,111,59,133,166,186,...,290,315,277,190,266,212,184,38,2826,성남시
554210,2017.9.30,2827,모란(8),0,74,91,106,185,197,210,...,330,260,189,119,123,113,55,0,2827,성남시
554211,2017.9.30,2827,모란(8),1,16,90,95,143,175,177,...,224,305,182,155,160,151,112,19,2827,성남시

In [16]:
import datetime

In [17]:
# datetime.datetime.strptime('January 11, 2010', '%B %d, %Y').strftime('%A')
# datetime.datetime.strptime('January 11, 2010', '%B %d, %Y').strftime('%a')

In [18]:
# day of week
# i=0
# date = df_merged["날짜"][1]
# datetime.datetime.strptime(date, '%Y.%m.%d').strftime('%a')
# dayList = []
# dayList.append(datetime.datetime.strptime(date, '%Y-%m-%d').strftime('%a'))
# dayList.append(datetime.datetime.strptime(date, '%Y-%m-%d').strftime('%a'))

In [19]:
dayList = []
for i in range(0, df_merged.shape[0]):
    date = df_merged["날짜"][i]
    day = datetime.datetime.strptime(date, '%Y.%m.%d').strftime('%a')
    dayList.append(day)

In [20]:
dayList

['Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sat',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Sun',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Mon',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Tue',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Wed',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Thu',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 'Fri',
 ...]

In [21]:
df_merged["dow"] = dayList

In [22]:
df_merged.head(20)

,날짜,역번호,역명,구분,05~06,06~07,07~08,08~09,09~10,10~11,...,18~19,19~20,20~21,21~22,22~23,23~24,24~,id,sigungu,dow
0,2015.1.1,150,서울역(150),0,441,399,572,1106,1474,2020,...,3738,3091,2749,3247,2437,1279,73,150,용산구,Thu
1,2015.1.1,151,시청(151),0,101,95,104,127,233,308,...,1133,850,950,612,497,192,6,151,중구,Thu
2,2015.1.1,152,종각(152),0,898,482,281,291,328,449,...,2047,1767,1834,1825,1666,736,37,152,종로구,Thu
3,2015.1.1,153,종로3가(153),0,371,212,155,189,347,491,...,1526,1297,1149,1257,953,415,15,153,종로구,Thu
4,2015.1.1,154,종로5가(154),0,57,101,83,128,209,323,...,962,722,576,431,241,102,3,154,종로구,Thu
5,2015.1.1,155,동대문(155),0,130,176,171,265,440,483,...,637,420,394,284,206,156,0,155,종로구,Thu
6,2015.1.1,156,신설동(156),0,95,136,160,250,345,490,...,489,308,243,206,145,62,1,156,동대문구,Thu
7,2015.1.1,157,제기동(157),0,102,198,138,189,272,391,...,435,236,158,234,80,37,2,157,동대문구,Thu
8,2015.1.1,158,청량리(지하)(158),0,273,243,314,469,719,822,...,1096,893,932,751,600,179,2,158,동대문구,Thu
9,2015.1.1,159,동묘앞(159),0,48,56,57,89,167,198,...,276,192,98,154,85,49,0,159,종로구,Thu
10,2015.1.1,201,시청(201),0,39,51,95,104,129,239,...,860,632,564,539,395,152,0,201,중구,Thu
11,2015.1.1,202,을지로입구(202),0,149,123,117,197,361,550,...,2456,2063,1997,2274,1911,904,0,202,중구,Thu
12,2015.1.1,203,을지로3가(203),0,30,94,53,112,167,475,...,371,329,282,195,237,92,0,203,을지로3가,Thu
13,2015.1.1,204,을지로4가(204),0,30,32,57,84,173,279,...,206,175,162,156,133,54,0,204,중구,Thu
14,2015.1.1,205,동대문역사문화공원(205),0,125,93,120,164,285,349,...,980,909,863,820,600,350,0,205,중구,Thu
15,2015.1.1,206,신당(206),0,115,166,137,290,328,384,...,411,359,236,253,170,76,0,206,중구,Thu
16,2015.1.1,207,상왕십리(207),0,74,127,152,210,262,293,...,234,158,155,166,112,49,0,207,성동구,Thu
17,2015.1.1,208,왕십리(성동구청)(208),0,218,250,214,311,386,452,...,772,617,596,659,627,448,6,208,성동구,Thu
18,2015.1.1,209,한양대(209),0,38,62,45,58,85,91,...,240,163,151,175,264,76,0,209,성동구,Thu
19,2015.1.1,210,뚝섬(210),0,95,197,136,272,289,317,...,333,256,221,164,120,53,0,210,성동구,Thu

In [23]:
dateList = []
for i in range(0, df_merged.shape[0]):
    date = df_merged["날짜"][i]
    day = datetime.datetime.strptime(date, '%Y.%m.%d').strftime('%Y-%m-%d')
    dateList.append(day)

In [24]:
dateList

['2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-01',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-02',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-03',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-04',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-05',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-06',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-07',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-08',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 '2015-01-09',
 ...]

In [25]:
df_merged["날짜"] = dateList

In [26]:
df_merged = df_merged.rename(index=str, columns={'05~06':'5', '06~07':'6', '07~08':'7', '08~09':'8', '09~10':'9',
       '10~11':'10', '11~12':'11', '12~13':'12', '13~14':'13', '14~15':'14', '15~16':'15', '16~17':'16', '17~18':'17',
       '18~19':'18', '19~20':'19', '20~21':'20', '21~22':'21', '22~23':'22', '23~24':'23', '24~':'24'})

In [27]:
df_merged

,날짜,역번호,역명,구분,5,6,7,8,9,10,...,18,19,20,21,22,23,24,id,sigungu,dow
0,2015-01-01,150,서울역(150),0,441,399,572,1106,1474,2020,...,3738,3091,2749,3247,2437,1279,73,150,용산구,Thu
1,2015-01-01,151,시청(151),0,101,95,104,127,233,308,...,1133,850,950,612,497,192,6,151,중구,Thu
2,2015-01-01,152,종각(152),0,898,482,281,291,328,449,...,2047,1767,1834,1825,1666,736,37,152,종로구,Thu
3,2015-01-01,153,종로3가(153),0,371,212,155,189,347,491,...,1526,1297,1149,1257,953,415,15,153,종로구,Thu
4,2015-01-01,154,종로5가(154),0,57,101,83,128,209,323,...,962,722,576,431,241,102,3,154,종로구,Thu
5,2015-01-01,155,동대문(155),0,130,176,171,265,440,483,...,637,420,394,284,206,156,0,155,종로구,Thu
6,2015-01-01,156,신설동(156),0,95,136,160,250,345,490,...,489,308,243,206,145,62,1,156,동대문구,Thu
7,2015-01-01,157,제기동(157),0,102,198,138,189,272,391,...,435,236,158,234,80,37,2,157,동대문구,Thu
8,2015-01-01,158,청량리(지하)(158),0,273,243,314,469,719,822,...,1096,893,932,751,600,179,2,158,동대문구,Thu
9,2015-01-01,159,동묘앞(159),0,48,56,57,89,167,198,...,276,192,98,154,85,49,0,159,종로구,Thu
10,2015-01-01,201,시청(201),0,39,51,95,104,129,239,...,860,632,564,539,395,152,0,201,중구,Thu
11,2015-01-01,202,을지로입구(202),0,149,123,117,197,361,550,...,2456,2063,1997,2274,1911,904,0,202,중구,Thu
12,2015-01-01,203,을지로3가(203),0,30,94,53,112,167,475,...,371,329,282,195,237,92,0,203,을지로3가,Thu
13,2015-01-01,204,을지로4가(204),0,30,32,57,84,173,279,...,206,175,162,156,133,54,0,204,중구,Thu
14,2015-01-01,205,동대문역사문화공원(205),0,125,93,120,164,285,349,...,980,909,863,820,600,350,0,205,중구,Thu
15,2015-01-01,206,신당(206),0,115,166,137,290,328,384,...,411,359,236,253,170,76,0,206,중구,Thu
16,2015-01-01,207,상왕십리(207),0,74,127,152,210,262,293,...,234,158,155,166,112,49,0,207,성동구,Thu
17,2015-01-01,208,왕십리(성동구청)(208),0,218,250,214,311,386,452,...,772,617,596,659,627,448,6,208,성동구,Thu
18,2015-01-01,209,한양대(209),0,38,62,45,58,85,91,...,240,163,151,175,264,76,0,209,성동구,Thu
19,2015-01-01,210,뚝섬(210),0,95,197,136,272,289,317,...,333,256,221,164,120,53,0,210,성동구,Thu
20,2015-01-01,211,성수(211),0,125,193,182,272,329,358,...,435,313,311,277,245,117,1,211,성동구,Thu
21,2015-01-01,212,건대입구(212),0,1595,1256,903,991,1034,962,...,1953,1694,1913,2075,2280,1254,0,212,광진구,Thu
22,2015-01-01,213,구의(213),0,226,256,399,524,659,608,...,575,411,407,410,287,150,0,213,광진구,Thu
23,2015-01-01,214,강변(214),0,356,358,427,702,1235,1689,...,2244,2377,1997,1987,1312,430,0,214,광진구,Thu
24,2015-01-01,215,잠실나루(215),0,67,120,163,268,308,342,...,412,307,276,221,168,71,0,215,송파구,Thu
25,2015-01-01,216,잠실(216),0,1174,608,610,910,1129,1264,...,4295,3431,2795,3392,2453,906,0,216,송파구,Thu
26,2015-01-01,217,신천(217),0,640,527,376,485,532,630,...,739,750,763,794,705,315,0,217,송파구,Thu
27,2015-01-01,217,신천(217),0,640,527,376,485,532,630,...,739,750,763,794,705,315,0,217,송파구,Thu
28,2015-01-01,218,종합운동장(218),0,123,184,115,154,285,234,...,1960,286,175,142,114,43,0,218,송파구,Thu
29,2015-01-01,219,삼성(219),0,295,299,237,317,422,419,...,3217,2617,2402,2548,2005,406,0,219,강남구,Thu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554182,2017-09-30,2813,강동구청,0,120,239,397,561,601,519,...,499,299,195,154,116,56,14,2813,강동구,Sat
554183,2017-09-30,2813,강동구청,1,27,149,211,311,321,297,...,555,497,383,494,516,288,148,2813,강동구,Sat
554184,2017-09-30,2814,몽촌토성,0,67,90,165,273,254,287,...,772,453,237,223,200,80,0,2814,송파구,Sat
554185,2017-09-30,2814,몽촌토성,1,32,163,189,256,367,427,...,354,205,216,229,264,111,17,2814,송파구,Sat
554186,2017-09-30,2815,잠실(8),0,73,92,131,179,238,269,...,1311,1182,1150,1142,905,344,1,2815,송파구,Sat
554187,2017-09-30,2815,잠실(8),1,27,195,343,785,954,902,...,1023,562,397,300,213,129,44,2815,송파구,Sat
554188,2017-09-30,2816,석촌,0,146,150,290,421,492,410,...,412,286,232,257,149,87,1,2816,송파구,Sat
554189,2017-09-30,2816,석촌,1,25,168,189,360,383,379,...,462,382,310,336,316,230,25,2816,송파구,Sat
554190,2017-09-30,2817,송파,0,71,114,145,265,280,209,...,274,162,151,96,87,45,0,2817,송파구,Sat
554191,2017-09-30,2817,송파,1,65,388,141,224,231,177,...,248,229,139,196,151,114,12,2817,송파구,Sat
554192,2017-09-30,2818,가락시장(8),0,84,129,190,279,366,449,...,399,322,273,295,252,160,1,2818,송파구,Sat
554193,2017-09-30,2818,가락시장(8),1,97,228,255,483,513,445,...,460,379,239,258,193,165,152,2818,송파구,Sat
554194,2017-09-30,2819,문정,0,52,134,226,331,493,346,...,522,249,218,208,233,85,1,2819,송파구,Sat
554195,2017-09-30,2819,문정,1,74,637,433,397,420,340,...,438,412,243,286,302,168,0,2819,송파구,Sat
554196,2017-09-30,2820,장지,0,147,326,422,761,813,704,...,1236,909,671,675,828,175,0,2820,송파구,Sat
554197,2017-09-30,2820,장지,1,46,239,384,772,866,635,...,1116,730,548,563,781,501,1,2820,송파구,Sat
554198,2017-09-30,2821,복정(8),0,108,211,338,583,570,505,...,498,408,237,217,148,74,1,2821,송파구,Sat
554199,2017-09-30,2821,복정(8),1,86,422,290,298,300,256,...,439,427,335,418,461,331,83,2821,송파구,Sat
554200,2017-09-30,2822,산성,0,193,219,337,478,478,326,...,246,200,120,82,53,37,1,2822,성남시,Sat
554201,2017-09-30,2822,산성,1,24,80,95,183,304,288,...,417,348,305,358,438,238,53,2822,성남시,Sat
554202,2017-09-30,2823,남한산성입구,0,309,511,792,1066,1111,838,...,504,299,187,138,115,55,2,2823,성남시,Sat
554203,2017-09-30,2823,남한산성입구,1,35,160,225,310,332,428,...,783,712,687,720,957,646,118,2823,성남시,Sat
554204,2017-09-30,2824,단대오거리,0,284,432,597,886,765,680,...,515,344,215,186,155,74,3,2824,성남시,Sat
554205,2017-09-30,2824,단대오거리,1,55,128,187,274,288,278,...,803,727,580,671,801,606,97,2824,성남시,Sat
554206,2017-09-30,2825,신흥,0,109,190,220,350,329,224,...,298,217,158,157,102,39,0,2825,성남시,Sat
554207,2017-09-30,2825,신흥,1,24,69,72,150,166,170,...,401,374,269,322,265,203,40,2825,성남시,Sat
554208,2017-09-30,2826,수진,0,110,137,248,393,333,268,...,290,173,133,91,73,38,1,2826,성남시,Sat
554209,2017-09-30,2826,수진,1,20,111,59,133,166,186,...,315,277,190,266,212,184,38,2826,성남시,Sat
554210,2017-09-30,2827,모란(8),0,74,91,106,185,197,210,...,260,189,119,123,113,55,0,2827,성남시,Sat
554211,2017-09-30,2827,모란(8),1,16,90,95,143,175,177,...,305,182,155,160,151,112,19,2827,성남시,Sat

In [28]:
#df_melted = pd.melt(df_merged, id_vars=["날짜", "역번호", "역명", "구분"], value_vars=['05~06', '06~07', '07~08', '08~09', '09~10',
#       '10~11', '11~12', '12~13', '13~14', '14~15', '15~16', '16~17', '17~18',
#       '18~19', '19~20', '20~21', '21~22', '22~23', '23~24', '24~'])

In [29]:
df_melted = pd.melt(df_merged, id_vars=["날짜", "역번호", "역명", "구분", 'sigungu', 'dow'], value_vars=['5', '6', '7', '8', '9',
       '10', '11', '12', '13', '14', '15', '16', '17',
       '18', '19', '20', '21', '22', '23', '24'], var_name='시간')

In [30]:
df_melted

                  날짜   역번호              역명  구분 sigungu  dow  시간  value
0         2015-01-01   150        서울역(150)   0     용산구  Thu   5    441
1         2015-01-01   151         시청(151)   0      중구  Thu   5    101
2         2015-01-01   152         종각(152)   0     종로구  Thu   5    898
3         2015-01-01   153       종로3가(153)   0     종로구  Thu   5    371
4         2015-01-01   154       종로5가(154)   0     종로구  Thu   5     57
5         2015-01-01   155        동대문(155)   0     종로구  Thu   5    130
6         2015-01-01   156        신설동(156)   0    동대문구  Thu   5     95
7         2015-01-01   157        제기동(157)   0    동대문구  Thu   5    102
8         2015-01-01   158    청량리(지하)(158)   0    동대문구  Thu   5    273
9         2015-01-01   159        동묘앞(159)   0     종로구  Thu   5     48
10        2015-01-01   201         시청(201)   0      중구  Thu   5     39
11        2015-01-01   202      을지로입구(202)   0      중구  Thu   5    149
12        2015-01-01   203      을지로3가(203)   0   을지로3가  Thu   5     30
13        2015-01-01   204      을지로4가(204)   0      중구  Thu   5     30
14        2015-01-01   205  동대문역사문화공원(205)   0      중구  Thu   5    125
15        2015-01-01   206         신당(206)   0      중구  Thu   5    115
16        2015-01-01   207       상왕십리(207)   0     성동구  Thu   5     74
17        2015-01-01   208  왕십리(성동구청)(208)   0     성동구  Thu   5    218
18        2015-01-01   209        한양대(209)   0     성동구  Thu   5     38
19        2015-01-01   210         뚝섬(210)   0     성동구  Thu   5     95
20        2015-01-01   211         성수(211)   0     성동구  Thu   5    125
21        2015-01-01   212       건대입구(212)   0     광진구  Thu   5   1595
22        2015-01-01   213         구의(213)   0     광진구  Thu   5    226
23        2015-01-01   214         강변(214)   0     광진구  Thu   5    356
24        2015-01-01   215       잠실나루(215)   0     송파구  Thu   5     67
25        2015-01-01   216         잠실(216)   0     송파구  Thu   5   1174
26        2015-01-01   217         신천(217)   0     송파구  Thu   5    640
27        2015-01-01   217         신천(217)   0     송파구  Thu   5    640
28        2015-01-01   218      종합운동장(218)   0     송파구  Thu   5    123
29        2015-01-01   219         삼성(219)   0     강남구  Thu   5    295
...              ...   ...             ...  ..     ...  ...  ..    ...
11084210  2017-09-30  2813            강동구청   0     강동구  Sat  24     14
11084211  2017-09-30  2813            강동구청   1     강동구  Sat  24    148
11084212  2017-09-30  2814            몽촌토성   0     송파구  Sat  24      0
11084213  2017-09-30  2814            몽촌토성   1     송파구  Sat  24     17
11084214  2017-09-30  2815           잠실(8)   0     송파구  Sat  24      1
11084215  2017-09-30  2815           잠실(8)   1     송파구  Sat  24     44
11084216  2017-09-30  2816              석촌   0     송파구  Sat  24      1
11084217  2017-09-30  2816              석촌   1     송파구  Sat  24     25
11084218  2017-09-30  2817              송파   0     송파구  Sat  24      0
11084219  2017-09-30  2817              송파   1     송파구  Sat  24     12
11084220  2017-09-30  2818         가락시장(8)   0     송파구  Sat  24      1
11084221  2017-09-30  2818         가락시장(8)   1     송파구  Sat  24    152
11084222  2017-09-30  2819              문정   0     송파구  Sat  24      1
11084223  2017-09-30  2819              문정   1     송파구  Sat  24      0
11084224  2017-09-30  2820              장지   0     송파구  Sat  24      0
11084225  2017-09-30  2820              장지   1     송파구  Sat  24      1
11084226  2017-09-30  2821           복정(8)   0     송파구  Sat  24      1
11084227  2017-09-30  2821           복정(8)   1     송파구  Sat  24     83
11084228  2017-09-30  2822              산성   0     성남시  Sat  24      1
11084229  2017-09-30  2822              산성   1     성남시  Sat  24     53
11084230  2017-09-30  2823          남한산성입구   0     성남시  Sat  24      2
11084231  2017-09-30  2823          남한산성입구   1     성남시  Sat  24    118
11084232  2017-09-30  2824           단대오거리   0     성남시  Sat  24      3
11084233  2017-09-30  2824           단대오거리   1     성남시  Sat  24     97
11084234  2017-09-30  2825              신흥   0     성남시  Sat  24      0
11084235  2017-09-30  2825              신흥   1     성남시  Sat  24     40
11084236  2017-09-30  2826              수진   0     성남시  Sat  24      1
11084237  2017-09-30  2826              수진   1     성남시  Sat  24     38
11084238  2017-09-30  2827           모란(8)   0     성남시  Sat  24      0
11084239  2017-09-30  2827           모란(8)   1     성남시  Sat  24     19

[11084240 rows x 8 columns]

In [31]:
df_melted = df_melted.rename(index=str, columns={"날짜": "date", "시간": "time"})

In [33]:
#df_melted['value'] = df_melted['value'].str.replace(',','')

In [34]:
df_melted['value'].isnull().values.sum()

0

In [35]:
df_melted = df_melted.dropna(subset=['value'])

In [36]:
df_weather1 = pd.read_csv('input_data/weather/weather2015.csv', encoding='CP949', index_col =False)
df_weather2 = pd.read_csv('input_data/weather/weather2016.csv', encoding='CP949', index_col =False)
df_weather3 = pd.read_csv('input_data/weather/weather2017.csv', encoding='CP949', index_col =False)

In [37]:
df_weather = pd.concat([df_weather1, df_weather2, df_weather3])

In [38]:
df_weather = df_weather.fillna(0)

In [39]:
df_weather

,지점,date,time,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,2015-01-01,0,-6.9,0.0,6.1,290.0,31.0,1.1,-21.2,...,0,0.0,2000.0,0.0,0.0,-3.8,-2.7,-1.1,0.1,0.7
1,108,2015-01-01,1,-7.4,0.0,4.7,290.0,33.0,1.2,-20.9,...,0,0.0,0.0,0.0,0.0,-4.5,-3.2,-1.3,0.1,0.8
2,108,2015-01-01,2,-8.0,0.0,4.5,290.0,35.0,1.2,-20.8,...,0,0.0,0.0,0.0,0.0,-5.1,-3.7,-1.7,0.0,0.7
3,108,2015-01-01,3,-8.4,0.0,3.8,290.0,37.0,1.2,-20.5,...,0,0.0,2000.0,4.0,0.0,-5.5,-4.0,-1.9,0.0,0.7
4,108,2015-01-01,4,-8.8,0.0,4.9,290.0,35.0,1.1,-21.5,...,0,0.0,2000.0,0.0,0.0,-5.9,-4.4,-2.2,0.0,0.7
5,108,2015-01-01,5,-9.1,0.0,5.7,290.0,35.0,1.1,-21.7,...,0,0.0,1800.0,0.0,0.0,-6.3,-4.7,-2.4,0.0,0.7
6,108,2015-01-01,6,-9.3,0.0,5.3,290.0,36.0,1.1,-21.6,...,0,0.0,1600.0,0.0,0.0,-6.6,-5.0,-2.6,0.0,0.7
7,108,2015-01-01,7,-9.5,0.0,4.5,290.0,38.0,1.1,-21.2,...,0,0.0,1600.0,0.0,42.0,-6.8,-5.2,-2.8,-0.1,0.7
8,108,2015-01-01,8,-9.8,0.0,6.1,270.0,42.0,1.2,-20.3,...,0,0.0,1600.0,0.0,42.0,-7.0,-5.4,-2.9,-0.2,0.7
9,108,2015-01-01,9,-9.5,0.0,5.1,290.0,41.0,1.2,-20.3,...,0,0.0,1800.0,4.0,42.0,-6.0,-4.9,-3.0,-0.3,0.7
10,108,2015-01-01,10,-8.6,0.0,5.4,290.0,38.0,1.2,-20.4,...,0,0.0,2000.0,0.0,42.0,-3.0,-3.9,-2.7,-0.4,0.7
11,108,2015-01-01,11,-7.9,0.0,4.5,290.0,36.0,1.2,-20.3,...,0,0.0,2000.0,0.0,0.0,-0.2,-2.8,-2.3,-0.4,0.6
12,108,2015-01-01,12,-6.7,0.0,4.2,290.0,33.0,1.2,-20.3,...,0,0.0,2000.0,0.0,0.0,0.2,-1.9,-1.8,-0.4,0.6
13,108,2015-01-01,13,-6.2,0.0,6.0,320.0,33.0,1.3,-19.8,...,0,0.0,2000.0,0.0,0.0,0.8,-1.3,-1.4,-0.3,0.6
14,108,2015-01-01,14,-5.4,0.0,5.7,290.0,34.0,1.4,-18.8,...,0,0.0,2000.0,0.0,0.0,0.6,-0.9,-1.1,-0.3,0.6
15,108,2015-01-01,15,-4.3,0.0,4.4,270.0,33.0,1.5,-18.2,...,0,0.0,2000.0,4.0,0.0,0.5,-0.7,-0.9,-0.2,0.6
16,108,2015-01-01,16,-4.6,0.0,5.2,250.0,36.0,1.6,-17.4,...,Sc,10.0,2000.0,0.0,0.0,0.2,-0.8,-0.8,-0.2,0.6
17,108,2015-01-01,17,-5.7,0.0,4.9,250.0,39.0,1.6,-17.4,...,0,0.0,2000.0,0.0,0.0,-1.5,-1.3,-0.9,-0.1,0.6
18,108,2015-01-01,18,-6.7,0.0,4.2,250.0,44.0,1.6,-16.9,...,0,0.0,2000.0,0.0,0.0,-3.0,-2.0,-1.1,-0.2,0.6
19,108,2015-01-01,19,-7.2,0.0,5.4,290.0,46.0,1.6,-16.8,...,0,0.0,0.0,0.0,0.0,-4.0,-2.7,-1.4,-0.2,0.6
20,108,2015-01-01,20,-7.7,0.0,2.4,290.0,49.0,1.7,-16.5,...,0,0.0,0.0,0.0,0.0,-4.9,-3.5,-1.8,-0.3,0.5
21,108,2015-01-01,21,-8.3,0.0,3.2,290.0,52.0,1.7,-16.4,...,0,0.0,2000.0,4.0,0.0,-5.5,-4.0,-2.1,-0.4,0.6
22,108,2015-01-01,22,-8.5,0.0,5.5,290.0,50.0,1.6,-17.0,...,0,0.0,0.0,0.0,0.0,-6.0,-4.4,-2.5,-0.5,0.5
23,108,2015-01-01,23,-8.6,0.0,4.0,270.0,52.0,1.7,-16.7,...,0,0.0,0.0,0.0,0.0,-5.8,-4.5,-2.7,-0.5,0.5
24,108,2015-01-02,0,-8.7,0.0,2.4,270.0,55.0,1.7,-16.1,...,Ci,0.0,2000.0,0.0,0.0,-5.9,-4.6,-2.8,-0.7,0.5
25,108,2015-01-02,1,-8.6,0.0,1.1,340.0,57.0,1.8,-15.6,...,0,0.0,0.0,0.0,0.0,-5.5,-4.3,-2.8,-0.8,0.5
26,108,2015-01-02,2,-8.5,0.0,1.8,270.0,56.0,1.8,-15.7,...,0,0.0,0.0,0.0,0.0,-5.2,-4.2,-2.8,-0.8,0.5
27,108,2015-01-02,3,-8.6,0.0,1.7,250.0,57.0,1.8,-15.6,...,Ac,32.0,2000.0,4.0,0.0,-5.7,-4.4,-2.8,-0.8,0.4
28,108,2015-01-02,4,-8.5,0.0,2.2,250.0,59.0,1.9,-15.0,...,Ac,32.0,1800.0,0.0,0.0,-5.6,-4.5,-3.0,-0.9,0.4
29,108,2015-01-02,5,-8.4,0.0,1.7,270.0,59.0,1.9,-14.9,...,Ac,32.0,1800.0,0.0,0.0,-5.5,-4.4,-2.9,-0.9,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8730,108,2017-12-30,18,3.0,0.3,1.7,290.0,84.0,6.3,0.5,...,StNs,4.0,137.0,0.0,401901.0,0.3,0.1,0.1,0.9,1.5
8731,108,2017-12-30,19,2.3,0.0,0.6,290.0,89.0,6.4,0.6,...,StNs,3.0,96.0,0.0,191601.0,0.2,0.1,0.2,0.9,1.5
8732,108,2017-12-30,20,1.9,0.0,0.9,290.0,90.0,6.3,0.4,...,StNs,1.0,88.0,0.0,160601.0,0.1,0.1,0.2,0.9,1.5
8733,108,2017-12-30,21,1.8,0.2,1.1,290.0,92.0,6.4,0.6,...,StNs,2.0,109.0,0.0,191606.0,0.1,0.1,0.1,0.9,1.5
8734,108,2017-12-30,22,1.8,0.0,1.2,290.0,92.0,6.4,0.6,...,StNs,1.0,94.0,0.0,19160605.0,0.1,0.1,0.2,0.9,1.6
8735,108,2017-12-30,23,1.4,0.0,1.9,290.0,92.0,6.2,0.2,...,StNs,1.0,73.0,0.0,160605.0,0.0,0.1,0.1,1.0,1.5
8736,108,2017-12-31,0,0.9,0.2,1.8,290.0,95.0,6.2,0.1,...,StNs,1.0,63.0,0.0,1605.0,0.0,0.1,0.2,1.0,1.5
8737,108,2017-12-31,1,0.5,0.0,2.1,320.0,95.0,6.0,-0.2,...,StNs,1.0,79.0,0.0,1605.0,0.1,0.1,0.2,0.9,1.6
8738,108,2017-12-31,2,0.4,0.0,1.7,290.0,95.0,6.0,-0.3,...,StNs,2.0,110.0,0.0,191605.0,0.0,0.1,0.2,0.9,1.6
8739,108,2017-12-31,3,0.3,1.0,2.0,320.0,91.0,5.7,-1.0,...,StNs,2.0,172.0,0.0,1905.0,0.0,0.2,0.2,0.9,1.6
8740,108,2017-12-31,4,-0.2,0.0,3.5,290.0,87.0,5.2,-2.1,...,Sc,3.0,246.0,0.0,1905.0,0.0,0.1,0.2,0.9,1.5
8741,108,2017-12-31,5,-0.8,0.0,2.8,290.0,85.0,4.9,-3.0,...,Sc,4.0,329.0,0.0,19.0,0.0,0.1,0.2,0.9,1.6
8742,108,2017-12-31,6,-1.3,0.0,2.4,290.0,84.0,4.7,-3.6,...,Sc,5.0,425.0,0.0,19.0,0.0,0.1,0.2,1.0,1.5
8743,108,2017-12-31,7,-1.8,0.0,1.7,290.0,86.0,4.6,-3.8,...,Sc,10.0,367.0,0.0,19.0,0.0,0.0,0.2,1.0,1.5
8744,108,2017-12-31,8,-2.1,0.0,1.4,270.0,86.0,4.5,-4.1,...,0,0.0,354.0,0.0,19.0,0.0,0.0,0.1,0.9,1.6
8745,108,2017-12-31,9,-1.9,0.0,1.6,290.0,82.0,4.4,-4.5,...,0,0.0,410.0,0.0,19.0,0.0,0.1,0.2,1.0,1.5
8746,108,2017-12-31,10,-0.5,0.0,1.7,290.0,73.0,4.3,-4.7,...,0,0.0,609.0,0.0,19.0,0.0,0.1,0.2,0.9,1.5
8747,108,2017-12-31,11,0.8,0.0,2.8,290.0,62.0,4.0,-5.6,...,0,0.0,801.0,0.0,4019.0,0.0,0.1,0.2,0.9,1.6
8748,108,2017-12-31,12,1.4,0.0,4.5,320.0,47.0,3.2,-8.7,...,0,0.0,1388.0,0.0,40.0,0.0,0.2,0.2,1.0,1.5
8749,108,2017-12-31,13,2.5,0.0,3.7,270.0,36.0,2.6,-11.0,...,0,0.0,1578.0,0.0,0.0,0.3,0.4,0.3,1.0,1.6
8750,108,2017-12-31,14,3.0,0.0,3.8,290.0,28.0,2.1,-13.7,...,0,0.0,1956.0,0.0,0.0,3.0,0.6,0.2,1.0,1.6
8751,108,2017-12-31,15,3.1,0.0,3.9,320.0,25.0,1.9,-15.0,...,0,0.0,2000.0,0.0,0.0,1.7,0.7,0.2,0.9,1.5
8752,108,2017-12-31,16,2.7,0.0,2.7,320.0,26.0,1.9,-14.9,...,0,0.0,2000.0,0.0,0.0,-0.4,0.5,0.2,0.9,1.6
8753,108,2017-12-31,17,1.7,0.0,2.9,290.0,30.0,2.1,-14.0,...,0,0.0,2000.0,0.0,0.0,0.0,0.2,0.3,0.9,1.5
8754,108,2017-12-31,18,0.7,0.0,2.3,290.0,31.0,2.0,-14.5,...,0,0.0,2000.0,0.0,0.0,-0.4,0.0,0.3,0.9,1.6
8755,108,2017-12-31,19,0.0,0.0,2.2,340.0,31.0,1.9,-15.1,...,0,0.0,2000.0,0.0,0.0,-0.8,0.0,0.3,1.0,1.6
8756,108,2017-12-31,20,-1.0,0.0,0.9,320.0,32.0,1.8,-15.6,...,0,0.0,2000.0,0.0,0.0,-0.9,0.0,0.2,0.9,1.6
8757,108,2017-12-31,21,-1.6,0.0,1.0,270.0,35.0,1.9,-15.1,...,0,0.0,2000.0,0.0,0.0,-1.1,0.0,0.2,1.0,1.6
8758,108,2017-12-31,22,-2.1,0.0,1.7,270.0,36.0,1.9,-15.2,...,0,0.0,2000.0,0.0,0.0,-1.4,-0.1,0.3,1.0,1.6
8759,108,2017-12-31,23,-2.6,0.0,0.6,290.0,40.0,2.0,-14.3,...,0,0.0,2000.0,0.0,0.0,-1.9,0.0,0.3,1.0,1.6

In [40]:
df_weather.columns

Index(['지점', 'date', 'time', '기온(°C)', '강수량(mm)', '풍속(m/s)', '풍향(16방위)',
       '습도(%)', '증기압(hPa)', '이슬점온도(°C)', '현지기압(hPa)', '해면기압(hPa)', '일조(hr)',
       '일사(MJ/m2)', '적설(cm)', '3시간신적설(cm)', '전운량(10분위)', '중하층운량(10분위)',
       '운형(운형약어)', '최저운고(100m )', '시정(10m)', '지면상태(지면상태코드)', '현상번호(국내식)',
       '지면온도(°C)', '5cm 지중온도(°C)', '10cm 지중온도(°C)', '20cm 지중온도(°C)',
       '30cm 지중온도(°C)'],
      dtype='object')

In [41]:
df_weather_sub = df_weather[["지점", "date", "time", "기온(°C)", "강수량(mm)", "풍속(m/s)", "습도(%)", "적설(cm)"]]

In [42]:
df_weather_sub

       지점        date  time  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0     108  2015-01-01     0    -6.9      0.0      6.1   31.0     0.0
1     108  2015-01-01     1    -7.4      0.0      4.7   33.0     0.0
2     108  2015-01-01     2    -8.0      0.0      4.5   35.0     0.0
3     108  2015-01-01     3    -8.4      0.0      3.8   37.0     0.0
4     108  2015-01-01     4    -8.8      0.0      4.9   35.0     0.0
5     108  2015-01-01     5    -9.1      0.0      5.7   35.0     0.0
6     108  2015-01-01     6    -9.3      0.0      5.3   36.0     0.0
7     108  2015-01-01     7    -9.5      0.0      4.5   38.0     0.0
8     108  2015-01-01     8    -9.8      0.0      6.1   42.0     0.0
9     108  2015-01-01     9    -9.5      0.0      5.1   41.0     0.0
10    108  2015-01-01    10    -8.6      0.0      5.4   38.0     0.0
11    108  2015-01-01    11    -7.9      0.0      4.5   36.0     0.0
12    108  2015-01-01    12    -6.7      0.0      4.2   33.0     0.0
13    108  2015-01-01    13    -6.2      0.0      6.0   33.0     0.0
14    108  2015-01-01    14    -5.4      0.0      5.7   34.0     0.0
15    108  2015-01-01    15    -4.3      0.0      4.4   33.0     0.0
16    108  2015-01-01    16    -4.6      0.0      5.2   36.0     0.0
17    108  2015-01-01    17    -5.7      0.0      4.9   39.0     0.0
18    108  2015-01-01    18    -6.7      0.0      4.2   44.0     0.0
19    108  2015-01-01    19    -7.2      0.0      5.4   46.0     0.0
20    108  2015-01-01    20    -7.7      0.0      2.4   49.0     0.0
21    108  2015-01-01    21    -8.3      0.0      3.2   52.0     0.0
22    108  2015-01-01    22    -8.5      0.0      5.5   50.0     0.0
23    108  2015-01-01    23    -8.6      0.0      4.0   52.0     0.0
24    108  2015-01-02     0    -8.7      0.0      2.4   55.0     0.0
25    108  2015-01-02     1    -8.6      0.0      1.1   57.0     0.0
26    108  2015-01-02     2    -8.5      0.0      1.8   56.0     0.0
27    108  2015-01-02     3    -8.6      0.0      1.7   57.0     0.0
28    108  2015-01-02     4    -8.5      0.0      2.2   59.0     0.0
29    108  2015-01-02     5    -8.4      0.0      1.7   59.0     0.0
...   ...         ...   ...     ...      ...      ...    ...     ...
8730  108  2017-12-30    18     3.0      0.3      1.7   84.0     0.0
8731  108  2017-12-30    19     2.3      0.0      0.6   89.0     0.0
8732  108  2017-12-30    20     1.9      0.0      0.9   90.0     0.0
8733  108  2017-12-30    21     1.8      0.2      1.1   92.0     0.0
8734  108  2017-12-30    22     1.8      0.0      1.2   92.0     0.0
8735  108  2017-12-30    23     1.4      0.0      1.9   92.0     0.0
8736  108  2017-12-31     0     0.9      0.2      1.8   95.0     0.2
8737  108  2017-12-31     1     0.5      0.0      2.1   95.0     0.6
8738  108  2017-12-31     2     0.4      0.0      1.7   95.0     1.2
8739  108  2017-12-31     3     0.3      1.0      2.0   91.0     1.2
8740  108  2017-12-31     4    -0.2      0.0      3.5   87.0     1.2
8741  108  2017-12-31     5    -0.8      0.0      2.8   85.0     1.2
8742  108  2017-12-31     6    -1.3      0.0      2.4   84.0     1.2
8743  108  2017-12-31     7    -1.8      0.0      1.7   86.0     1.2
8744  108  2017-12-31     8    -2.1      0.0      1.4   86.0     1.2
8745  108  2017-12-31     9    -1.9      0.0      1.6   82.0     1.2
8746  108  2017-12-31    10    -0.5      0.0      1.7   73.0     1.1
8747  108  2017-12-31    11     0.8      0.0      2.8   62.0     1.1
8748  108  2017-12-31    12     1.4      0.0      4.5   47.0     1.0
8749  108  2017-12-31    13     2.5      0.0      3.7   36.0     0.7
8750  108  2017-12-31    14     3.0      0.0      3.8   28.0     0.0
8751  108  2017-12-31    15     3.1      0.0      3.9   25.0     0.0
8752  108  2017-12-31    16     2.7      0.0      2.7   26.0     0.0
8753  108  2017-12-31    17     1.7      0.0      2.9   30.0     0.0
8754  108  2017-12-31    18     0.7      0.0      2.3   31.0     0.0
8755  108  2017-12-31    19     0.0      0.0      2.2   31.0     0.0
8756  108  2017-12-31    20    -1.0      0.0      0.9   32.0     0.0
8757  108  2017-12-31    21    -1.6      0.0      1.0   35.0     0.0
8758  108  2017-12-31    22    -2.1      0.0      1.7   36.0     0.0
8759  108  2017-12-31    23    -2.6      0.0      0.6   40.0     0.0

[26304 rows x 8 columns]

In [43]:
#df.weather.sub['time'] = df.weather.sub['time'].astype('object')

In [44]:
df_melted[['time']]=df_melted[['time']].apply(pd.to_numeric)
df_melted=df_melted[df_melted.loc[:,"time"]<24]
df_weather_sub[['time']]=df_weather_sub[['time']].apply(pd.to_numeric)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/core/frame.py:3137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [45]:
df_weather_sub.head()

    지점        date  time  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0  108  2015-01-01     0    -6.9      0.0      6.1   31.0     0.0
1  108  2015-01-01     1    -7.4      0.0      4.7   33.0     0.0
2  108  2015-01-01     2    -8.0      0.0      4.5   35.0     0.0
3  108  2015-01-01     3    -8.4      0.0      3.8   37.0     0.0
4  108  2015-01-01     4    -8.8      0.0      4.9   35.0     0.0

In [46]:
# print(df_melted.loc[0,'time']) 
# print(df_weather_sub.loc[5,'time'])
# df_melted.loc[0,'time'] == df_weather_sub.loc[5,'time']
#df.melted.loc[0,'time'].to_numeric== df.weather.sub.loc[5,'time']

In [47]:
df_merged_w = pd.merge(df_melted, df_weather_sub, how='left', on=["date", "time"])

In [48]:
#df_merged_w = pd.concat([df_melted, df_weather_sub], axis=1, join='inner', keys=["date", "time"])

In [49]:
df_merged_w.head(20)

,date,역번호,역명,구분,sigungu,dow,time,value,지점,기온(°C),강수량(mm),풍속(m/s),습도(%),적설(cm)
0,2015-01-01,150,서울역(150),0,용산구,Thu,5,441,108,-9.1,0.0,5.7,35.0,0.0
1,2015-01-01,151,시청(151),0,중구,Thu,5,101,108,-9.1,0.0,5.7,35.0,0.0
2,2015-01-01,152,종각(152),0,종로구,Thu,5,898,108,-9.1,0.0,5.7,35.0,0.0
3,2015-01-01,153,종로3가(153),0,종로구,Thu,5,371,108,-9.1,0.0,5.7,35.0,0.0
4,2015-01-01,154,종로5가(154),0,종로구,Thu,5,57,108,-9.1,0.0,5.7,35.0,0.0
5,2015-01-01,155,동대문(155),0,종로구,Thu,5,130,108,-9.1,0.0,5.7,35.0,0.0
6,2015-01-01,156,신설동(156),0,동대문구,Thu,5,95,108,-9.1,0.0,5.7,35.0,0.0
7,2015-01-01,157,제기동(157),0,동대문구,Thu,5,102,108,-9.1,0.0,5.7,35.0,0.0
8,2015-01-01,158,청량리(지하)(158),0,동대문구,Thu,5,273,108,-9.1,0.0,5.7,35.0,0.0
9,2015-01-01,159,동묘앞(159),0,종로구,Thu,5,48,108,-9.1,0.0,5.7,35.0,0.0
10,2015-01-01,201,시청(201),0,중구,Thu,5,39,108,-9.1,0.0,5.7,35.0,0.0
11,2015-01-01,202,을지로입구(202),0,중구,Thu,5,149,108,-9.1,0.0,5.7,35.0,0.0
12,2015-01-01,203,을지로3가(203),0,을지로3가,Thu,5,30,108,-9.1,0.0,5.7,35.0,0.0
13,2015-01-01,204,을지로4가(204),0,중구,Thu,5,30,108,-9.1,0.0,5.7,35.0,0.0
14,2015-01-01,205,동대문역사문화공원(205),0,중구,Thu,5,125,108,-9.1,0.0,5.7,35.0,0.0
15,2015-01-01,206,신당(206),0,중구,Thu,5,115,108,-9.1,0.0,5.7,35.0,0.0
16,2015-01-01,207,상왕십리(207),0,성동구,Thu,5,74,108,-9.1,0.0,5.7,35.0,0.0
17,2015-01-01,208,왕십리(성동구청)(208),0,성동구,Thu,5,218,108,-9.1,0.0,5.7,35.0,0.0
18,2015-01-01,209,한양대(209),0,성동구,Thu,5,38,108,-9.1,0.0,5.7,35.0,0.0
19,2015-01-01,210,뚝섬(210),0,성동구,Thu,5,95,108,-9.1,0.0,5.7,35.0,0.0

In [50]:
df_pollution = pd.read_csv('input_data/pollution_seoul.csv', encoding='cp949', index_col =False)
#df.pollution_station_info = pd.read_csv('raw_data/pollution_station_info.csv', index_col =False)

In [51]:
df_pollution.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025856 entries, 0 to 1025855
Data columns (total 13 columns):
지역         1025856 non-null object
측정소코드      1025856 non-null int64
측정소명       1025856 non-null object
측정일시       1025856 non-null int64
date       1025856 non-null int64
time       1025856 non-null int64
SO2        999084 non-null float64
CO         998380 non-null float64
O3         999677 non-null float64
NO2        998847 non-null float64
PM10       994666 non-null float64
PM25       633387 non-null float64
sigungu    1025856 non-null object
dtypes: float64(6), int64(4), object(3)
memory usage: 101.7+ MB

In [52]:
#df.pollution.merged = pd.merge(df.pollution, df.pollution_station_info, how='left', on=["측정소명"])
#df.pollution.merged.head(10)

In [53]:
df_pollution_group = df_pollution.groupby(["date","time","sigungu"])["SO2","CO","O3","NO2","PM10","PM25"].agg("mean").reset_index()

In [54]:
df_pollution_group.head(10)

       date  time sigungu    SO2    CO      O3     NO2  PM10  PM25
0  20150101     1     강남구  0.006  0.45  0.0185  0.0115  40.5  24.0
1  20150101     1     강동구  0.005  0.45  0.0140  0.0200  38.5   6.0
2  20150101     1     강북구  0.005  0.20  0.0190  0.0100  34.0   2.0
3  20150101     1     강서구  0.006  0.40  0.0180  0.0060  50.0   NaN
4  20150101     1     강서로  0.006   NaN  0.0250  0.0110  46.0  12.0
5  20150101     1     관악구  0.005  0.40  0.0150  0.0120  50.0  11.0
6  20150101     1     광진구  0.007  0.30  0.0210  0.0070  47.0   6.0
7  20150101     1     구로구  0.003  0.30  0.0180  0.0090  56.0  13.0
8  20150101     1     금천구  0.006  0.60  0.0170  0.0100  53.0  10.0
9  20150101     1     노원구  0.005  0.30  0.0195  0.0150  45.5   6.0

In [55]:
df_pollution_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 675144 entries, 0 to 675143
Data columns (total 9 columns):
date       675144 non-null int64
time       675144 non-null int64
sigungu    675144 non-null object
SO2        667470 non-null float64
CO         666145 non-null float64
O3         666372 non-null float64
NO2        666657 non-null float64
PM10       664961 non-null float64
PM25       633387 non-null float64
dtypes: float64(6), int64(2), object(1)
memory usage: 46.4+ MB

In [56]:
df_pollution_group["date"] = df_pollution_group["date"].astype(str)

In [57]:
dayList = []
for i in range(0, df_pollution_group.shape[0]):
    date = df_pollution_group["date"][i]
    day = datetime.datetime.strptime(date, '%Y%m%d').strftime('%Y-%m-%d')
    dayList.append(day)

In [58]:
df_pollution_group["date"] = dayList

In [59]:
df_merged_wp = pd.merge(df_merged_w, df_pollution_group, how='left', on=["date", "time", "sigungu"])

In [60]:
df_merged_wp.head(10)

,date,역번호,역명,구분,sigungu,dow,time,value,지점,기온(°C),강수량(mm),풍속(m/s),습도(%),적설(cm),SO2,CO,O3,NO2,PM10,PM25
0,2015-01-01,150,서울역(150),0,용산구,Thu,5,441,108,-9.1,0.0,5.7,35.0,0.0,0.0045,0.25,0.0185,0.0080,111.0,19.0
1,2015-01-01,151,시청(151),0,중구,Thu,5,101,108,-9.1,0.0,5.7,35.0,0.0,0.0055,0.40,0.0205,0.0075,97.5,12.0
2,2015-01-01,152,종각(152),0,종로구,Thu,5,898,108,-9.1,0.0,5.7,35.0,0.0,0.0045,0.20,0.0200,0.0055,118.5,5.0
3,2015-01-01,153,종로3가(153),0,종로구,Thu,5,371,108,-9.1,0.0,5.7,35.0,0.0,0.0045,0.20,0.0200,0.0055,118.5,5.0
4,2015-01-01,154,종로5가(154),0,종로구,Thu,5,57,108,-9.1,0.0,5.7,35.0,0.0,0.0045,0.20,0.0200,0.0055,118.5,5.0
5,2015-01-01,155,동대문(155),0,종로구,Thu,5,130,108,-9.1,0.0,5.7,35.0,0.0,0.0045,0.20,0.0200,0.0055,118.5,5.0
6,2015-01-01,156,신설동(156),0,동대문구,Thu,5,95,108,-9.1,0.0,5.7,35.0,0.0,0.0055,0.40,0.0175,0.0070,83.0,6.0
7,2015-01-01,157,제기동(157),0,동대문구,Thu,5,102,108,-9.1,0.0,5.7,35.0,0.0,0.0055,0.40,0.0175,0.0070,83.0,6.0
8,2015-01-01,158,청량리(지하)(158),0,동대문구,Thu,5,273,108,-9.1,0.0,5.7,35.0,0.0,0.0055,0.40,0.0175,0.0070,83.0,6.0
9,2015-01-01,159,동묘앞(159),0,종로구,Thu,5,48,108,-9.1,0.0,5.7,35.0,0.0,0.0045,0.20,0.0200,0.0055,118.5,5.0

In [61]:
dow_onehot = pd.get_dummies(df_merged_wp["dow"], prefix='dow')

In [62]:
dow_onehot.head(10)

   dow_Fri  dow_Mon  dow_Sat  dow_Sun  dow_Thu  dow_Tue  dow_Wed
0        0        0        0        0        1        0        0
1        0        0        0        0        1        0        0
2        0        0        0        0        1        0        0
3        0        0        0        0        1        0        0
4        0        0        0        0        1        0        0
5        0        0        0        0        1        0        0
6        0        0        0        0        1        0        0
7        0        0        0        0        1        0        0
8        0        0        0        0        1        0        0
9        0        0        0        0        1        0        0

In [63]:
df_merged_wpd = pd.concat([df_merged_wp, dow_onehot], axis=1)

In [64]:
df_merged_wpd.head(10)

,date,역번호,역명,구분,sigungu,dow,time,value,지점,기온(°C),...,NO2,PM10,PM25,dow_Fri,dow_Mon,dow_Sat,dow_Sun,dow_Thu,dow_Tue,dow_Wed
0,2015-01-01,150,서울역(150),0,용산구,Thu,5,441,108,-9.1,...,0.0080,111.0,19.0,0,0,0,0,1,0,0
1,2015-01-01,151,시청(151),0,중구,Thu,5,101,108,-9.1,...,0.0075,97.5,12.0,0,0,0,0,1,0,0
2,2015-01-01,152,종각(152),0,종로구,Thu,5,898,108,-9.1,...,0.0055,118.5,5.0,0,0,0,0,1,0,0
3,2015-01-01,153,종로3가(153),0,종로구,Thu,5,371,108,-9.1,...,0.0055,118.5,5.0,0,0,0,0,1,0,0
4,2015-01-01,154,종로5가(154),0,종로구,Thu,5,57,108,-9.1,...,0.0055,118.5,5.0,0,0,0,0,1,0,0
5,2015-01-01,155,동대문(155),0,종로구,Thu,5,130,108,-9.1,...,0.0055,118.5,5.0,0,0,0,0,1,0,0
6,2015-01-01,156,신설동(156),0,동대문구,Thu,5,95,108,-9.1,...,0.0070,83.0,6.0,0,0,0,0,1,0,0
7,2015-01-01,157,제기동(157),0,동대문구,Thu,5,102,108,-9.1,...,0.0070,83.0,6.0,0,0,0,0,1,0,0
8,2015-01-01,158,청량리(지하)(158),0,동대문구,Thu,5,273,108,-9.1,...,0.0070,83.0,6.0,0,0,0,0,1,0,0
9,2015-01-01,159,동묘앞(159),0,종로구,Thu,5,48,108,-9.1,...,0.0055,118.5,5.0,0,0,0,0,1,0,0

In [65]:
df_merged_date = pd.DataFrame(df_merged_wpd["date"].str.split("-").tolist(), columns="year month day".split())

In [66]:
df_final = pd.concat([df_merged_wpd, df_merged_date], axis=1)

In [67]:
df_final

,date,역번호,역명,구분,sigungu,dow,time,value,지점,기온(°C),...,dow_Fri,dow_Mon,dow_Sat,dow_Sun,dow_Thu,dow_Tue,dow_Wed,year,month,day
0,2015-01-01,150,서울역(150),0,용산구,Thu,5,441,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
1,2015-01-01,151,시청(151),0,중구,Thu,5,101,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
2,2015-01-01,152,종각(152),0,종로구,Thu,5,898,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
3,2015-01-01,153,종로3가(153),0,종로구,Thu,5,371,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
4,2015-01-01,154,종로5가(154),0,종로구,Thu,5,57,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
5,2015-01-01,155,동대문(155),0,종로구,Thu,5,130,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
6,2015-01-01,156,신설동(156),0,동대문구,Thu,5,95,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
7,2015-01-01,157,제기동(157),0,동대문구,Thu,5,102,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
8,2015-01-01,158,청량리(지하)(158),0,동대문구,Thu,5,273,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
9,2015-01-01,159,동묘앞(159),0,종로구,Thu,5,48,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
10,2015-01-01,201,시청(201),0,중구,Thu,5,39,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
11,2015-01-01,202,을지로입구(202),0,중구,Thu,5,149,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
12,2015-01-01,203,을지로3가(203),0,을지로3가,Thu,5,30,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
13,2015-01-01,204,을지로4가(204),0,중구,Thu,5,30,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
14,2015-01-01,205,동대문역사문화공원(205),0,중구,Thu,5,125,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
15,2015-01-01,206,신당(206),0,중구,Thu,5,115,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
16,2015-01-01,207,상왕십리(207),0,성동구,Thu,5,74,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
17,2015-01-01,208,왕십리(성동구청)(208),0,성동구,Thu,5,218,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
18,2015-01-01,209,한양대(209),0,성동구,Thu,5,38,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
19,2015-01-01,210,뚝섬(210),0,성동구,Thu,5,95,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
20,2015-01-01,211,성수(211),0,성동구,Thu,5,125,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
21,2015-01-01,212,건대입구(212),0,광진구,Thu,5,1595,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
22,2015-01-01,213,구의(213),0,광진구,Thu,5,226,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
23,2015-01-01,214,강변(214),0,광진구,Thu,5,356,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
24,2015-01-01,215,잠실나루(215),0,송파구,Thu,5,67,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
25,2015-01-01,216,잠실(216),0,송파구,Thu,5,1174,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
26,2015-01-01,217,신천(217),0,송파구,Thu,5,640,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
27,2015-01-01,217,신천(217),0,송파구,Thu,5,640,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
28,2015-01-01,218,종합운동장(218),0,송파구,Thu,5,123,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
29,2015-01-01,219,삼성(219),0,강남구,Thu,5,295,108,-9.1,...,0,0,0,0,1,0,0,2015,01,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10529998,2017-09-30,2813,강동구청,0,강동구,Sat,23,56,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10529999,2017-09-30,2813,강동구청,1,강동구,Sat,23,288,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530000,2017-09-30,2814,몽촌토성,0,송파구,Sat,23,80,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530001,2017-09-30,2814,몽촌토성,1,송파구,Sat,23,111,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530002,2017-09-30,2815,잠실(8),0,송파구,Sat,23,344,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530003,2017-09-30,2815,잠실(8),1,송파구,Sat,23,129,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530004,2017-09-30,2816,석촌,0,송파구,Sat,23,87,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530005,2017-09-30,2816,석촌,1,송파구,Sat,23,230,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530006,2017-09-30,2817,송파,0,송파구,Sat,23,45,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530007,2017-09-30,2817,송파,1,송파구,Sat,23,114,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530008,2017-09-30,2818,가락시장(8),0,송파구,Sat,23,160,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530009,2017-09-30,2818,가락시장(8),1,송파구,Sat,23,165,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530010,2017-09-30,2819,문정,0,송파구,Sat,23,85,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530011,2017-09-30,2819,문정,1,송파구,Sat,23,168,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530012,2017-09-30,2820,장지,0,송파구,Sat,23,175,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530013,2017-09-30,2820,장지,1,송파구,Sat,23,501,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530014,2017-09-30,2821,복정(8),0,송파구,Sat,23,74,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530015,2017-09-30,2821,복정(8),1,송파구,Sat,23,331,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530016,2017-09-30,2822,산성,0,성남시,Sat,23,37,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530017,2017-09-30,2822,산성,1,성남시,Sat,23,238,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530018,2017-09-30,2823,남한산성입구,0,성남시,Sat,23,55,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530019,2017-09-30,2823,남한산성입구,1,성남시,Sat,23,646,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530020,2017-09-30,2824,단대오거리,0,성남시,Sat,23,74,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530021,2017-09-30,2824,단대오거리,1,성남시,Sat,23,606,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530022,2017-09-30,2825,신흥,0,성남시,Sat,23,39,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530023,2017-09-30,2825,신흥,1,성남시,Sat,23,203,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530024,2017-09-30,2826,수진,0,성남시,Sat,23,38,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530025,2017-09-30,2826,수진,1,성남시,Sat,23,184,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530026,2017-09-30,2827,모란(8),0,성남시,Sat,23,55,108,19.1,...,0,0,1,0,0,0,0,2017,09,30
10530027,2017-09-30,2827,모란(8),1,성남시,Sat,23,112,108,19.1,...,0,0,1,0,0,0,0,2017,09,30

In [131]:
## file size check / csv

#df_final.to_csv("df_final.csv", encoding="cp949", index=False)
#df_final_sub = df_final[["구분", "year", "month", "time", "기온(°C)", '강수량(mm)', '풍속(m/s)', '습도(%)', '적설(cm)', 'SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25', 'dow_Fri', 'dow_Mon', 'dow_Sat','dow_Sun', 'dow_Thu', 'dow_Tue', 'dow_Wed']].reset_index()
#df_final_sub.to_csv("df_final_sub.csv", encoding="cp949", index=False)

In [85]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from scipy import stats

In [76]:
df_final.columns

Index(['date', '역번호', '역명', '구분', 'sigungu', 'dow', 'time', 'value', '지점',
       '기온(°C)', '강수량(mm)', '풍속(m/s)', '습도(%)', '적설(cm)', 'SO2', 'CO', 'O3',
       'NO2', 'PM10', 'PM25', 'dow_Fri', 'dow_Mon', 'dow_Sat', 'dow_Sun',
       'dow_Thu', 'dow_Tue', 'dow_Wed', 'year', 'month', 'day'],
      dtype='object')

In [126]:
# DT test
list_id_station = []
list_name_station = []
list_mse = []
list_dt_mse = []
list_rf_mse = []
list_boost_mse = []
list_rs_m70 = []
list_rs_m50 = []
list_rs_m30 = []
list_rs_m10 = []
list_rs_p10 = []
list_rs_p30 = []
list_rs_p50 = []
list_rs_p70 = []
for i in range(0, df_station_info.shape[0]): #df_station_info.shape[0]):
    id_station = df_station_info["id"][i]
    df_sub = df_final[(df_final["역번호"]==id_station) & (df_final["구분"]==1)].reset_index()
    
    
    #print(df_sub.head(10))
    df_X = df_sub.loc[(df_sub.isnull().sum(axis=1)==0) & (df_sub.isna().sum(axis=1)==0),["구분", "year", "month", "time", "기온(°C)", '강수량(mm)', '풍속(m/s)', '습도(%)', '적설(cm)', 'SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25', 'dow_Fri', 'dow_Mon', 'dow_Sat','dow_Sun', 'dow_Thu', 'dow_Tue', 'dow_Wed']]
    temp_Y = df_sub.loc[(df_sub.isnull().sum(axis=1)==0) & (df_sub.isna().sum(axis=1)==0),"value"]
    
    df_Y = stats.zscore(temp_Y)
    
    if(df_X.shape[0]>600):
        print(id_station)
        #input data split
        X_train, X_test, y_train, y_test = train_test_split(df_X, df_Y, test_size=0.3, random_state=1)

        #model
        regr = LinearRegression()
        regr_dt = DecisionTreeRegressor(max_depth=5)
        #regr_boost = AdaBoostRegressor(DecisionTreeRegressor(max_depth=5), n_estimators=300, random_state=1)
        regr_boost = GradientBoostingRegressor(min_samples_split= 5, n_estimators=300, random_state=1)
        regr_rf = RandomForestRegressor(max_depth=5, random_state=1)

        regr.fit(X_train, y_train)
        regr_dt.fit(X_train, y_train)    
        regr_boost.fit(X_train, y_train)
        regr_rf.fit(X_train, y_train)

        #prediction
        y_predict = regr.predict(X_test)
        y_predict_dt = regr_dt.predict(X_test)
        y_predict_boost = regr_boost.predict(X_test)
        y_predict_rf = regr_rf.predict(X_test)

        #mse
        regr_mse = mean_squared_error(y_predict, y_test)
        regr_dt_mse = mean_squared_error(y_predict_dt, y_test)
        regr_boost_mse = mean_squared_error(y_predict_boost, y_test)
        regr_rf_mse = mean_squared_error(y_predict_rf, y_test)

        #list
        list_id_station.append(id_station)
        list_name_station.append(df_station_info["name"][i])
        list_mse.append(regr_mse)
        list_dt_mse.append(regr_dt_mse)
        list_boost_mse.append(regr_boost_mse)
        list_rf_mse.append(regr_rf_mse)


        #sensitivity test
        X_test_m70 = X_test.copy()
        X_test_m70["PM10"] = X_test["PM10"] * (30/100)
        X_test_m70["PM25"] = X_test["PM25"] * (30/100)
        X_test_m50 = X_test.copy()
        X_test_m50["PM10"] = X_test["PM10"] * (50/100)
        X_test_m50["PM25"] = X_test["PM25"] * (50/100)
        X_test_m30 = X_test.copy()
        X_test_m30["PM10"] = X_test["PM10"] * (70/100)
        X_test_m30["PM25"] = X_test["PM25"] * (70/100)
        X_test_m10 = X_test.copy()
        X_test_m10["PM10"] = X_test["PM10"] * (90/100)
        X_test_m10["PM25"] = X_test["PM25"] * (90/100)
        X_test_p10 = X_test.copy()
        X_test_p10["PM10"] = X_test["PM10"] * (110/100)
        X_test_p10["PM25"] = X_test["PM25"] * (110/100)
        X_test_p30 = X_test.copy()
        X_test_p30["PM10"] = X_test["PM10"] * (130/100)
        X_test_p30["PM25"] = X_test["PM25"] * (130/100)
        X_test_p50 = X_test.copy()
        X_test_p50["PM10"] = X_test["PM10"] * (150/100)
        X_test_p50["PM25"] = X_test["PM25"] * (150/100)
        X_test_p70 = X_test.copy()
        X_test_p70["PM10"] = X_test["PM10"] * (170/100)
        X_test_p70["PM25"] = X_test["PM25"] * (170/100)

        #prediction
        y_predict_m70 = regr_boost.predict(X_test_m70)
        y_predict_m50 = regr_boost.predict(X_test_m50)
        y_predict_m30 = regr_boost.predict(X_test_m30)
        y_predict_m10 = regr_boost.predict(X_test_m10)
        y_predict_p10 = regr_boost.predict(X_test_p10)
        y_predict_p30 = regr_boost.predict(X_test_p30)
        y_predict_p50 = regr_boost.predict(X_test_p50)
        y_predict_p70 = regr_boost.predict(X_test_p70)

        rs_m70 = y_predict_m70 - y_test
        rs_m50 = y_predict_m50 - y_test
        rs_m30 = y_predict_m30 - y_test
        rs_m10 = y_predict_m10 - y_test
        rs_p10 = y_predict_p10 - y_test
        rs_p30 = y_predict_p30 - y_test
        rs_p50 = y_predict_p50 - y_test
        rs_p70 = y_predict_p70 - y_test

        list_rs_m70.append(np.mean(rs_m70))
        list_rs_m50.append(np.mean(rs_m50))
        list_rs_m30.append(np.mean(rs_m30))
        list_rs_m10.append(np.mean(rs_m10))
        list_rs_p10.append(np.mean(rs_p10))
        list_rs_p30.append(np.mean(rs_p30))
        list_rs_p50.append(np.mean(rs_p50)) 
        list_rs_p70.append(np.mean(rs_p70))

        #print(regr_mse)

340
2818
2748
222
2732
2549
2813
214
2559
2512
2560
212
2729
317
341
2553
2641
329
2736
2530
2627
2718
2547

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2247: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

2534
2625
223
330
232
2616
213
310
2545
2727

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2247: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

2551
324
2550
417
2513
2519

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2247: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

227
2747
331
2739
434

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2247: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

2737
411
2715
313
2630
2734

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2247: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

2543
409
237
233
2746
337
335
2626
334
247
2712
316
2614
2644
155
421
205
422
2537
322
159
2637
431
2555
2619
210
2730
2515
2714
2542
2561
2529
2621
2622
333
2720
2723
424
2552

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2247: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

2521
2814
315
235
2819
415
416
2735
2516
225
2557
2511
2633
2744
2639
2821
229
2648

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2247: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

312
2613
2724
226
433

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2247: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

428
2629

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2247: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

219
410
2741

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2247: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

2722
2624
207
2643
2554
2617
2533
228
150
426
224
2645
2816
220
211
418
2514
2817
2713
339
414

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2247: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

427
2740
151
201
2539
2526
245
206
2636
231
2743
234
230
327
156
246
429
2520
249

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2247: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

217
240
2745

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2247: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

413
2546
242
318
2640
2811
326
2531
323
2634
332
248
2523
2728
2528
2527
221
2612
311

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2253: RuntimeWarning: invalid value encountered in true_divide
  return (a - mns) / sstd

236
2524
2525
342
2558
2522
325
2752
2556
208
2541
244
250
2725
2517
2642
2620

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2247: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

204
2536
202
2611
241
2738
430
2631
338
216
2815
215
217
328
2742

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2247: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

2820
2544
157
152
153
319
2535
154
218
2716
2726
2721
2618

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2247: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

412
2638
2751
2548
2812

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2247: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

2538
2635
2731
158
432

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2247: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

423
243
2532
2646
2719
2717
2733
336
2632
419
209
238
2623
2540
420
239
314
2518
2647
425
2628

In [125]:
#test code
id_station = 2615
df_sub = df_final[(df_final["역번호"]==id_station) & (df_final["구분"]==1)].reset_index()


#print(df_sub.head(10))
df_X = df_sub.loc[(df_sub.isnull().sum(axis=1)==0) & (df_sub.isna().sum(axis=1)==0),["구분", "year", "month", "time", "기온(°C)", '강수량(mm)', '풍속(m/s)', '습도(%)', '적설(cm)', 'SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25', 'dow_Fri', 'dow_Mon', 'dow_Sat','dow_Sun', 'dow_Thu', 'dow_Tue', 'dow_Wed']]
temp_Y = df_sub.loc[(df_sub.isnull().sum(axis=1)==0) & (df_sub.isna().sum(axis=1)==0),"value"]

df_Y = stats.zscore(temp_Y)

print(df_sub)
print(df_X.shape[0])
if(df_X.shape[0]>600):
    print(id_station)
    #input data split
    X_train, X_test, y_train, y_test = train_test_split(df_X, df_Y, test_size=0.3, random_state=1)

    #model
    regr = LinearRegression()
    regr_dt = DecisionTreeRegressor(max_depth=5)
    #regr_boost = AdaBoostRegressor(DecisionTreeRegressor(max_depth=5), n_estimators=300, random_state=1)
    regr_boost = GradientBoostingRegressor(min_samples_split= 5, n_estimators=300, random_state=1)
    regr_rf = RandomForestRegressor(max_depth=5, random_state=1)

    regr.fit(X_train, y_train)
    regr_dt.fit(X_train, y_train)    
    regr_boost.fit(X_train, y_train)
    regr_rf.fit(X_train, y_train)

    #prediction
    y_predict = regr.predict(X_test)
    y_predict_dt = regr_dt.predict(X_test)
    y_predict_boost = regr_boost.predict(X_test)
    y_predict_rf = regr_rf.predict(X_test)

    #mse
    regr_mse = mean_squared_error(y_predict, y_test)
    regr_dt_mse = mean_squared_error(y_predict_dt, y_test)
    regr_boost_mse = mean_squared_error(y_predict_boost, y_test)
    regr_rf_mse = mean_squared_error(y_predict_rf, y_test)

    #list
    list_id_station.append(id_station)
    list_name_station.append(df_station_info["name"][i])
    list_mse.append(regr_mse)
    list_dt_mse.append(regr_dt_mse)
    list_boost_mse.append(regr_boost_mse)
    list_rf_mse.append(regr_rf_mse)

       index        date   역번호      역명  구분 sigungu  dow  time  value   지점  \
0     550143  2017-09-23  2615  연신내(6)   1     은평구  Sat     5      0  108
1     550697  2017-09-24  2615  연신내(6)   1     은평구  Sun     5      0  108
2    1104355  2017-09-23  2615  연신내(6)   1     은평구  Sat     6      0  108
3    1104909  2017-09-24  2615  연신내(6)   1     은평구  Sun     6      0  108
4    1658567  2017-09-23  2615  연신내(6)   1     은평구  Sat     7      0  108
5    1659121  2017-09-24  2615  연신내(6)   1     은평구  Sun     7      0  108
6    2212779  2017-09-23  2615  연신내(6)   1     은평구  Sat     8      0  108
7    2213333  2017-09-24  2615  연신내(6)   1     은평구  Sun     8      0  108
8    2766991  2017-09-23  2615  연신내(6)   1     은평구  Sat     9      0  108
9    2767545  2017-09-24  2615  연신내(6)   1     은평구  Sun     9      0  108
10   3321203  2017-09-23  2615  연신내(6)   1     은평구  Sat    10      0  108
11   3321757  2017-09-24  2615  연신내(6)   1     은평구  Sun    10      0  108
12   3875415  2017-09-23  2615  연신내(6)   1     은평구  Sat    11      0  108
13   3875969  2017-09-24  2615  연신내(6)   1     은평구  Sun    11      0  108
14   4429627  2017-09-23  2615  연신내(6)   1     은평구  Sat    12      0  108
15   4430181  2017-09-24  2615  연신내(6)   1     은평구  Sun    12      0  108
16   4983839  2017-09-23  2615  연신내(6)   1     은평구  Sat    13      0  108
17   4984393  2017-09-24  2615  연신내(6)   1     은평구  Sun    13      0  108
18   5538051  2017-09-23  2615  연신내(6)   1     은평구  Sat    14      0  108
19   5538605  2017-09-24  2615  연신내(6)   1     은평구  Sun    14      0  108
20   6092263  2017-09-23  2615  연신내(6)   1     은평구  Sat    15      0  108
21   6092817  2017-09-24  2615  연신내(6)   1     은평구  Sun    15      0  108
22   6646475  2017-09-23  2615  연신내(6)   1     은평구  Sat    16      0  108
23   6647029  2017-09-24  2615  연신내(6)   1     은평구  Sun    16      0  108
24   7200687  2017-09-23  2615  연신내(6)   1     은평구  Sat    17      0  108
25   7201241  2017-09-24  2615  연신내(6)   1     은평구  Sun    17      0  108
26   7754899  2017-09-23  2615  연신내(6)   1     은평구  Sat    18      0  108
27   7755453  2017-09-24  2615  연신내(6)   1     은평구  Sun    18      0  108
28   8309111  2017-09-23  2615  연신내(6)   1     은평구  Sat    19      0  108
29   8309665  2017-09-24  2615  연신내(6)   1     은평구  Sun    19      0  108
30   8863323  2017-09-23  2615  연신내(6)   1     은평구  Sat    20      0  108
31   8863877  2017-09-24  2615  연신내(6)   1     은평구  Sun    20      0  108
32   9417535  2017-09-23  2615  연신내(6)   1     은평구  Sat    21      0  108
33   9418089  2017-09-24  2615  연신내(6)   1     은평구  Sun    21      0  108
34   9971747  2017-09-23  2615  연신내(6)   1     은평구  Sat    22      0  108
35   9972301  2017-09-24  2615  연신내(6)   1     은평구  Sun    22      0  108
36  10525959  2017-09-23  2615  연신내(6)   1     은평구  Sat    23      0  108
37  10526513  2017-09-24  2615  연신내(6)   1     은평구  Sun    23      0  108

   ...   dow_Fri  dow_Mon  dow_Sat  dow_Sun  dow_Thu  dow_Tue  dow_Wed  year  \
0  ...         0        0        1        0        0        0        0  2017
1  ...         0        0        0        1        0        0        0  2017
2  ...         0        0        1        0        0        0        0  2017
3  ...         0        0        0        1        0        0        0  2017
4  ...         0        0        1        0        0        0        0  2017
5  ...         0        0        0        1        0        0        0  2017
6  ...         0        0        1        0        0        0        0  2017
7  ...         0        0        0        1        0        0        0  2017
8  ...         0        0        1        0        0        0        0  2017
9  ...         0        0        0        1        0        0        0  2017
10 ...         0        0        1        0        0        0        0  2017
11 ...         0        0        0        1        0        0        0  2017
12 ...         0        0        1        0        0        0        0  2017
13 ...         0        0        0        1        0        0        0  2017
14 ...         0        0        1        0        0        0        0  2017
15 ...         0        0        0        1        0        0        0  2017
16 ...         0        0        1        0        0        0        0  2017
17 ...         0        0        0        1        0        0        0  2017
18 ...         0        0        1        0        0        0        0  2017
19 ...         0        0        0        1        0        0        0  2017
20 ...         0        0        1        0        0        0        0  2017
21 ...         0        0        0        1        0        0        0  2017
22 ...         0        0        1        0        0        0        0  2017
23 ...         0        0        0        1        0        0        0  2017
24 ...         0        0        1        0        0        0        0  2017
25 ...         0        0        0        1        0        0        0  2017
26 ...         0        0        1        0        0        0        0  2017
27 ...         0        0        0        1        0        0        0  2017
28 ...         0        0        1        0        0        0        0  2017
29 ...         0        0        0        1        0        0        0  2017
30 ...         0        0        1        0        0        0        0  2017
31 ...         0        0        0        1        0        0        0  2017
32 ...         0        0        1        0        0        0        0  2017
33 ...         0        0        0        1        0        0        0  2017
34 ...         0        0        1        0        0        0        0  2017
35 ...         0        0        0        1        0        0        0  2017
36 ...         0        0        1        0        0        0        0  2017
37 ...         0        0        0        1        0        0        0  2017

    month  day
0      09   23
1      09   24
2      09   23
3      09   24
4      09   23
5      09   24
6      09   23
7      09   24
8      09   23
9      09   24
10     09   23
11     09   24
12     09   23
13     09   24
14     09   23
15     09   24
16     09   23
17     09   24
18     09   23
19     09   24
20     09   23
21     09   24
22     09   23
23     09   24
24     09   23
25     09   24
26     09   23
27     09   24
28     09   23
29     09   24
30     09   23
31     09   24
32     09   23
33     09   24
34     09   23
35     09   24
36     09   23
37     09   24

[38 rows x 31 columns]
38

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/stats/stats.py:2253: RuntimeWarning: invalid value encountered in true_divide
  return (a - mns) / sstd

In [127]:
df_result = pd.DataFrame({'id': list_id_station, 'name': list_name_station, 'regr_mse': list_mse, 'regr_dt_mse': list_dt_mse, 'regr_boost_mse': list_boost_mse, 'regr_rf_mse': list_rf_mse
                         , 'rs_m70': list_rs_m70, 'rs_m50': list_rs_m50, 'rs_m30': list_rs_m30, 'rs_m10': list_rs_m10, 'rs_p10': list_rs_p10, 'rs_p30': list_rs_p30, 'rs_p50': list_rs_p50, 'rs_p70': list_rs_p70})

In [128]:
df_result

,id,name,regr_mse,regr_dt_mse,regr_boost_mse,regr_rf_mse,rs_m70,rs_m50,rs_m30,rs_m10,rs_p10,rs_p30,rs_p50,rs_p70
0,340,가락시장,0.694226,0.322774,0.111573,0.318293,0.034896,0.017399,0.009407,0.006457,0.005019,0.002500,0.002500,-0.004808
1,2818,가락시장,0.860151,0.170878,0.091956,0.166443,0.013786,0.008548,0.004666,0.002116,0.001449,-0.000314,-0.000314,-0.001895
2,2748,가산디지털단지,0.835955,0.067769,0.066927,0.067602,0.017223,0.012387,0.005868,0.000297,-0.003837,-0.008257,-0.008257,-0.016801
3,222,강남,0.846431,0.218158,0.092056,0.217932,0.000134,0.002748,0.001530,0.000027,-0.002112,-0.004928,-0.004928,-0.009469
4,2732,강남구청,0.811030,0.100777,0.068529,0.100541,0.008849,0.008275,0.005439,0.003220,0.001371,-0.001575,-0.001575,-0.007571
5,2549,강동,0.658367,0.184047,0.089302,0.183515,0.017038,0.013404,0.006570,0.000927,-0.002084,-0.003687,-0.003687,-0.003345
6,2813,강동구청,0.756873,0.243869,0.093281,0.243537,0.026811,0.020869,0.011937,0.004379,0.000264,-0.002719,-0.002719,-0.008121
7,214,강변,0.602822,0.166076,0.085668,0.149796,-0.010473,-0.010068,-0.007819,-0.003884,0.001035,0.005689,0.005689,0.015097
8,2559,개롱,0.676878,0.241397,0.110256,0.236537,0.030056,0.019742,0.013574,0.012026,0.012104,0.011753,0.011753,0.009742
9,2512,개화산,0.785368,0.200275,0.071692,0.179842,-0.018103,-0.003304,0.001945,0.000003,-0.007749,-0.018157,-0.018157,-0.040524
10,2560,거여,0.592457,0.160460,0.097798,0.160083,0.030205,0.019860,0.011020,0.008530,0.007028,0.005933,0.005933,0.002906
11,212,건대입구,0.618422,0.149202,0.066363,0.130186,0.005300,0.006469,0.004263,0.003108,0.002147,0.002111,0.002111,0.004339
12,2729,건대입구,0.863418,0.302265,0.118969,0.301781,0.032916,0.021025,0.013375,0.008124,0.003543,0.000863,0.000863,-0.000495
13,317,경복궁,0.749677,0.328760,0.104978,0.259980,-0.020369,-0.009252,-0.004830,-0.001416,0.001012,0.003060,0.003060,0.004121
14,341,경찰병원,0.818863,0.178942,0.096122,0.169238,0.021208,0.015901,0.010246,0.007449,0.005656,0.002999,0.002999,-0.001929
15,2553,고덕,0.708006,0.424585,0.147121,0.327583,0.032079,0.018911,0.006484,-0.001241,-0.005951,-0.008469,-0.008469,-0.013713
16,2641,고려대,0.762647,0.291901,0.190565,0.291319,0.028879,0.028917,0.025271,0.018237,0.011603,0.003552,0.003552,-0.014741
17,329,고속터미널,0.710786,0.168917,0.077973,0.161680,-0.014770,-0.009330,-0.005122,-0.001196,0.002301,0.006329,0.006329,0.012973
18,2736,고속터미널,0.733129,0.213243,0.093029,0.195019,0.001115,0.004384,0.002869,0.000144,-0.002484,-0.004577,-0.004577,-0.012718
19,2530,공덕,0.853820,0.078029,0.074267,0.078734,0.021317,0.017375,0.006701,-0.001701,-0.008623,-0.015706,-0.015706,-0.027639
20,2627,공덕,0.854439,0.107023,0.067094,0.104281,0.013881,0.016534,0.008167,0.000586,-0.005477,-0.011107,-0.011107,-0.019278
21,2718,공릉,0.661207,0.270811,0.102245,0.241869,0.033941,0.020933,0.010445,0.004598,0.001537,-0.002087,-0.002087,-0.009327
22,2547,광나루,0.834873,0.283194,0.143334,0.281354,0.014061,0.014654,0.010598,0.006364,0.002398,-0.001889,-0.001889,-0.008347
23,2534,광화문,0.774555,0.095819,0.085704,0.095225,-0.020915,-0.005235,0.001108,0.002868,0.002775,0.001546,0.001546,-0.002274
24,2625,광흥창,0.800039,0.256678,0.091201,0.256694,0.020981,0.022757,0.010536,0.000097,-0.007226,-0.013362,-0.013362,-0.022135
25,223,교대,0.704572,0.229197,0.083138,0.229251,0.018957,0.017101,0.008479,-0.000986,-0.010547,-0.019198,-0.019198,-0.037141
26,330,교대,0.724545,0.215854,0.082152,0.215280,0.019196,0.019204,0.009945,0.000830,-0.007505,-0.014088,-0.014088,-0.028997
27,232,구로디지털단지,0.878426,0.232983,0.088058,0.233001,-0.003391,0.002002,0.003022,0.002734,0.002499,0.002217,0.002217,-0.000016
28,2616,구산,0.601557,0.121381,0.095328,0.118648,-0.000719,0.001333,0.001178,-0.000279,-0.000690,-0.001913,-0.001913,-0.007146
29,213,구의,0.543534,0.213156,0.076487,0.212805,0.002633,0.004839,0.003059,-0.000262,-0.003681,-0.006518,-0.006518,-0.011304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,2638,창신,0.714506,0.280523,0.154634,0.236632,-0.025284,0.001104,0.003085,-0.001441,-0.006300,-0.011506,-0.011506,-0.025201
226,2751,천왕,0.527549,0.182779,0.081117,0.175800,-0.014965,-0.009232,-0.003840,-0.000698,0.001741,0.003935,0.003935,0.009028
227,2548,천호,0.703471,0.199415,0.079980,0.198800,0.014464,0.012070,0.007220,0.002238,-0.000905,-0.003303,-0.003303,-0.006363
228,2812,천호,0.663584,0.099457,0.066267,0.093393,0.013449,0.010486,0.005002,0.000287,-0.002609,-0.004812,-0.004812,-0.007196
229,2538,청구,0.805987,0.169021,0.096681,0.169068,0.006325,0.016586,0.013154,0.009276,0.004567,-0.000175,-0.000175,-0.010750
230,2635,청구,0.835439,0.081160,0.071617,0.089289,-0.012674,0.007458,0.007009,0.005540,0.003046,0.000673,0.000673,-0.008675
231,2731,청담,0.799032,0.068711,0.063974,0.068580,0.008574,0.006932,0.003483,0.001317,-0.000457,-0.003900,-0.003900,-0.008746
232,158,청량리,0.654719,0.152688,0.077015,0.147198,0.011863,0.000589,-0.000328,-0.001906,-0.004243,-0.006361,-0.006361,-0.011349
233,432,총신대입구,0.660473,0.152601,0.075578,0.146821,-0.004461,0.004672,0.001824,-0.002163,-0.005531,-0.009543,-0.009543,-0.015810
234,423,충무로,0.767468,0.101660,0.075036,0.101608,-0.025030,-0.000712,0.003546,0.004227,0.002782,0.000826,0.000826,-0.007189
235,243,충정로,0.860675,0.086509,0.076142,0.094447,-0.030669,-0.005474,-0.000278,0.000422,0.000855,-0.001292,-0.001292,-0.006177
236,2532,충정로,0.862023,0.082403,0.078279,0.082506,0.000788,0.000183,-0.002099,-0.004056,-0.004487,-0.007856,-0.007856,-0.015472
237,2646,태릉입구,0.578830,0.207236,0.141928,0.206685,0.008066,0.014399,0.011899,0.008320,0.005164,0.000541,0.000541,-0.008305
238,2719,태릉입구,0.791805,0.353297,0.152331,0.330504,0.009991,0.013222,0.007778,0.002568,-0.001680,-0.005202,-0.005202,-0.013405
239,2717,하계,0.523959,0.170667,0.078174,0.170418,0.002947,0.011295,0.010294,0.007690,0.005788,0.003680,0.003680,-0.001389
240,2733,학동,0.819578,0.124700,0.066226,0.074784,0.007297,0.007983,0.005196,0.002679,-0.000374,-0.003679,-0.003679,-0.010645
241,336,학여울,1.035012,0.917624,0.801179,0.893192,0.106715,0.047160,0.012315,-0.003023,-0.012478,-0.015719,-0.015719,-0.015817
242,2632,한강진,0.864858,0.307038,0.138196,0.299772,0.036415,0.027232,0.015709,0.008212,0.004332,0.003515,0.003515,0.004695
243,419,한성대입구,0.696236,0.340151,0.144982,0.335509,0.010836,0.014452,0.012691,0.009135,0.005714,-0.000933,-0.000933,-0.017166
244,209,한양대,0.842369,0.323997,0.174559,0.322648,0.017724,0.010439,0.000970,-0.007649,-0.015053,-0.022930,-0.022930,-0.036641
245,238,합정,0.831796,0.365365,0.089187,0.308641,0.015976,0.017673,0.010258,0.003070,-0.001915,-0.006072,-0.006072,-0.012957
246,2623,합정,0.855760,0.364345,0.093546,0.360633,0.025391,0.024071,0.013621,0.003893,-0.003122,-0.009307,-0.009307,-0.017357
247,2540,행당,0.482833,0.082691,0.064123,0.087239,0.012033,0.008919,0.001594,-0.003768,-0.007987,-0.011440,-0.011440,-0.018306
248,420,혜화,0.835460,0.246843,0.125470,0.240830,-0.008099,-0.002565,-0.006776,-0.011004,-0.014133,-0.015407,-0.015407,-0.017449
249,239,홍대입구,0.641884,0.271364,0.089311,0.214429,0.014664,0.013127,0.010783,0.007217,0.004473,0.001991,0.001991,0.001351
250,314,홍제,0.535133,0.146527,0.076000,0.113298,-0.020317,-0.008325,-0.004161,-0.002057,-0.000510,-0.000120,-0.000120,0.000272
251,2518,화곡,0.517780,0.132419,0.053109,0.113073,-0.094613,-0.029119,-0.010807,-0.006557,-0.008583,-0.011575,-0.011575,-0.019458
252,2647,화랑대,0.536509,0.150957,0.095989,0.150521,0.028063,0.019871,0.011928,0.006719,0.002195,-0.001513,-0.001513,-0.008857
253,425,회현,0.620088,0.175906,0.058735,0.176506,0.000392,0.008734,0.008014,0.007518,0.007098,0.007176,0.007176,0.005402
254,2628,효창공원앞,0.830623,0.265706,0.111136,0.265644,0.070845,0.044483,0.022178,0.008222,-0.001415,-0.009252,-0.009252,-0.026144

In [129]:
df_result.to_csv('result.csv', encoding='cp949')

In [ ]:
# import matplotlib.pyplot as plt

In [ ]:
# plt.figure()
# plt.scatter(X_train.iloc[:,0], y_train, s=20, edgecolor="black",
#             c="darkorange", label="data")
# #plt.plot(X_test.iloc[:,0], y_1, color="cornflowerblue",label="max_depth=2", linewidth=2)
# plt.plot(X_test.iloc[:,0], y_2, color="yellowgreen", label="max_depth=5", linewidth=2)
# plt.xlabel("data")
# plt.ylabel("target")
# plt.title("Decision Tree Regression")
# plt.legend()
# plt.show()

In [ ]:
# from sklearn.ensemble import AdaBoostRegressor
# regr_boost = AdaBoostRegressor(regr_2,n_estimators=300, random_state=1)

In [ ]:
# regr_boost.fit(X_train, y_train)
# y_boost = regr_boost.predict(X_test)

In [ ]:
# plt.figure()
# plt.scatter(X_train.iloc[:,0], y_train, s=20, edgecolor="black", c="darkorange", label="data")
# #plt.plot(X_test.iloc[:,0], y_2, color="cornflowerblue", label="max_depth=5", linewidth=2)
# plt.plot(X_test.iloc[:,0], y_boost, color="yellowgreen", label="max_depth=5", linewidth=2)
# plt.xlabel("data")
# plt.ylabel("target")
# plt.title("Boosted Decision Tree Regression")
# plt.legend()
# plt.show()